.green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }

  .loadingHide {
    display: none;
  }
  /* th{
    background-color:#00d9c8;
    color:white;
  } */
  .divider{
    margin-top: 10px;
  }
  /* table head color,title and icon color */
  th{
    font-size: medium;
    background-color:#d7fcf5;
    color:#00c7b0;
  }
  .mat-card-title{
    color:#227f77 ;
  }
  .mat-icon{
    color: #227f77 !important;
    
  }
 