
<div class="main-container">
  <!-- container size is 150 -->
    <mat-card class="min-height-150">
      <div class="flex-container">
        <div style="width: 85%;">
          <mat-icon class="material-icons">medical_services</mat-icon>
          <mat-card-title class="card-main-title font-700">Manage Application Permission</mat-card-title>
        </div>
       
      </div>
     
    
      <div class="row row-divider">
        <div class="col-md-12">
  

  
                <form [formGroup]="patientAppPermission" (ngSubmit)="onSubmitPermission()" novalidate>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="remove-padding-bottom" style="width:100%!important" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select required formControlName="role" (selectionChange)="selectChangeHandler($event)">
                          <mat-option>-- Select Role --</mat-option>
                          <mat-option *ngFor="let roles of roleData" [value]="roles.rid" > {{roles.title }}</mat-option>
                        </mat-select>
                        <mat-error
                        *ngIf="!patientAppPermission.controls['role'].valid && patientAppPermission.controls['role'].touched">
                        Please Select Role
                    </mat-error>
                      </mat-form-field>
                 </div>
  
  
                 <!-- <div class="col-md-2">
                  <div style="margin-top:-30px!important">
                   <button 
                   [disabled]="!patientAppPermission.controls.role.valid" style="margin-top:35px!important;padding:2px;" class=" login-button width-100 " type="submit" mat-flat-button>
                     {{buttonTextPermission}}
                 </button>
                  </div>
                
                   </div> -->
                </div>
              <!-- </form> -->
              <div class="divider"></div>
                 <div class="row">
                    <div class="col-md-12 table-container">
  
                        <table mat-table [dataSource]="applicationPermissionData"
                            class="mat-elevation-z8 table-100">
  
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action</th>
                                <td mat-cell *matCellDef="let element">{{element.title}} </td>
                            </ng-container>
  
                            <ng-container matColumnDef="checkbox">
                                <th mat-header-cell *matHeaderCellDef > Select </th>
                                <td style="cursor: pointer!important;" mat-cell *matCellDef="let element">
                                 
                                  <mat-checkbox formControlName="roleActionSelected"
                                  [(ngModel)]="element.selected" >
                                </mat-checkbox>  
                                </td>
                            </ng-container>
  
                        
                            <ng-container matColumnDef="noData">
                                <th style="text-align: center;
                                                      color: red;" mat-footer-cell *matFooterCellDef colspan="5"> {{loading}} </th>
                              </ng-container>
  
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsAppPer"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsAppPer;" class="example-element-row"
            >
                            </tr>
                          
                            <tr mat-footer-row *matFooterRowDef="['noData']"
                            [ngClass]="{'loadingHide':(applicationPermissionData!=null && applicationPermissionData.data.length!=0)}"></tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-2">
                  <div style="margin-top:-30px!important">
                   <button 
                   [disabled]="!patientAppPermission.controls.role.valid" style="margin-top:35px!important;padding:2px;" class=" login-button width-100 " type="submit" mat-flat-button>
                     {{buttonTextPermission}}
                 </button>
                  </div>
                
                   </div>
                   </form>
  
        </div>
  
    </div>
  
  
    
    </mat-card>
  </div>