.box-container {
    margin: 5 px !important ;
    padding: 0px !important ;
    background-color: white !important;
    border-radius: 1em;
}
.acceptedYes{
    color:rgb(204, 204, 211);cursor: not-allowed;text-decoration: underline;margin-right:6px

}
.acceptedNo{
    color:rgb(28, 24, 245);cursor: pointer;text-decoration: underline;margin-right:6px
    }

.rejectedYes{
    color:rgb(204, 204, 211);cursor: not-allowed;text-decoration: underline;margin-right:6px
    }

.rejectedNo{
  color:red;cursor: pointer;text-decoration: underline;margin-right:6px
  }
  .green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }
  /* table head, title, icon */
  th{
    font-size: medium;
    background-color:#d7fcf5;
    color:#00c7b0;
  }
  .mat-card-title{
    color:#227f77 ;
  }
  .mat-icon{
    color: #227f77 !important;
    
  }
  .row{
    margin: 1px !important;
    padding: 1px !important;
  }

