<div class="main-container">
    <!-- container size is 150 -->
    <div class="min-height-150 mobile-min-height-88">
        <mat-card
            class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
             <div>
                <div class="flex-container">
                    <div style="width: 85%;">
                        <mat-icon class="material-icons">medical_services</mat-icon>
                        <mat-card-title class="card-main-title font-700">Manage Access</mat-card-title>
                    </div>
                    <div class="hide-in-large-screen float-right">
                        <button [matMenuTriggerFor]="menu" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Search By</h4>
                            <span >
                                <button mat-menu-item (click)="selectedSearchType('email')">E-mail</button>
                                <button mat-menu-item (click)="selectedSearchType('user.id')">Name</button>
                            </span>
                        </mat-menu>
                    </div>
                </div>
                <div class="sort-select-form hide-in-mobile-screen">
                    <mat-form-field class="remove-padding-bottom" appearance="outline">
                        <mat-label>---Search By---</mat-label>
                        <mat-select (selectionChange)="selectedSearchType($event.value)" >
                            <mat-option>-- select user --</mat-option>
                         <mat-option *ngFor="let type of searchType" [value]="type.value">{{type.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-tab-group (selectedTabChange)="selectForRecord($event.index)" class="margin-top-15">
                <mat-tab label="Patient Manage Access">
                    <ng-template matTabContent>



                        <div class="margin-top-15" *ngIf="searchFieldFlag">
                              <div class="row">
                               
                                <div class="col-md-8 remove-col-padding-right mob-col-padding-right">
                                  <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                                    <mat-label>{{placholdeName}}</mat-label>
                                    <input  [(ngModel)]="searchDataValue" matInput>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <button mat-flat-button color="primary"
                                    class="mob-button-100 hide-in-large-screen mob-margin-bottom-15 mob-search-button">Search</button>
                                  <button  class="search-button hide-in-mobile-screen" mat-icon-button
                                    color="primary" (click)="getSearchByData()">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                                
                              </div>
                          </div>



                        <div class="row">
                            <div class="col-md-12 mt-50">
                                <div class="box-container">
                                    <div>
                                        <table class="table-100 table">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>E-mail</th>
                                                <th>Phone</th>
                                                <th>Action</th>
                                            </tr>


                                            <tr *ngFor="let dataObj of users;let i=index">
                                                <td> {{i+1}}</td>
                                                <td> {{dataObj.first_name}} &nbsp;  {{dataObj.last_name}}</td>
                                                <td> {{dataObj.email}}</td>
                                                <td>  {{dataObj.phone_number}}</td>
                                                <td style="width: 180px;">  
                                                    <div *ngIf="dataObj.active">
                                                    <span class="acceptedYes"> {{AceeptedLink}}</span> 
                                                    / &nbsp; &nbsp;<span class="rejectedNo" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)">{{rejectLink}}</span>
                                                    </div>
                                                    <div *ngIf="!dataObj.active">
                                                        <span class="acceptedNo" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)"> {{AceeptLink}}</span>  
                                                        / &nbsp; &nbsp;<span class="rejectedYes" >{{rejectedLink}}</span>
                                                        </div>
                                                        
                                              </td>
                                            </tr>


                                            <tr *ngIf="users.length==0">
                                                <td colspan="5"
                                                    style="text-align: center;color:red;font-size: 16px;margin-top:20px;">
                                                    Patient is not available.</td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Support Manage Access">
                    <ng-template matTabContent>
                        <div class="margin-top-15" *ngIf="searchFieldFlag">
                            <div class="row">
                             
                              <div class="col-md-8 remove-col-padding-right mob-col-padding-right">
                                <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                                  <mat-label>{{placholdeName}}</mat-label>
                                  <input  [(ngModel)]="searchDataValue" matInput>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <button mat-flat-button color="primary"
                                  class="mob-button-100 hide-in-large-screen mob-margin-bottom-15 mob-search-button">Search</button>
                                <button  class="search-button hide-in-mobile-screen" mat-icon-button
                                  color="primary" (click)="getSearchByData()">
                                  <mat-icon>search</mat-icon>
                                </button>
                              </div>
                              
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mt-30">
                                <div class="box-container">
                                    <div>
                                        <table class="table-100 table">
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>E-mail</th>
                                                <th>Phone</th>
                                                <th>Action</th>
                                            </tr>


                                            <tr *ngFor="let dataObj of users;let i=index">
                                                <td> {{i+1}}</td>
                                                <td> {{dataObj.first_name}} &nbsp;  {{dataObj.last_name}}</td>
                                                <td> {{dataObj.email}}</td>
                                                <td>  {{dataObj.phone_number}}</td>
                                                <td style="width: 180px;">  
                                                    <div *ngIf="dataObj.active">
                                                    <span class="acceptedYes"> {{AceeptedLink}}</span> 
                                                    / &nbsp; &nbsp;<span class="rejectedNo" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)">{{rejectLink}}</span>
                                                    </div>
                                                    <div *ngIf="!dataObj.active">
                                                        <span class="acceptedNo" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)"> {{AceeptLink}}</span>  
                                                        / &nbsp; &nbsp;<span class="rejectedYes" >{{rejectedLink}}</span>
                                                        </div>
                                                        
                                              </td>
                                            </tr>


                                            <tr *ngIf="users.length==0">
                                                <td colspan="5"
                                                    style="text-align: center;color:red;font-size: 16px;margin-top:20px;">
                                                    Patient is not available.</td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>