.closedBtn{
  color: #227f77;
    cursor: pointer;
    position: relative;
    float: right;
    background-color: #f8f9fb;
    margin-right: -10px;
    border: 1ps solid;
    border: 1px solid #868383;
    border-radius: 1px;
    width: 35px;
    text-align: center;
  position: relative;
    top:-10px; 
}
.editIcon{
  margin-left: 20px;
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin-top: -9px;
  margin-right: 13px;
}
/* .mat-dialog-container {
  display: block!important;
   padding: 0px!important;
  border-radius: 4px!important;
  width: 100%!important;
  height: 100%!important;
  min-height: inherit!important;
  max-height: inherit!important;
} */
.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px!important;
}

.form-100{
  width: 100%!important;
}

.mat-dialog-content {
  max-height: 100vh;
}


/* .mat-card-header-Condition{
  background-color:#5A7BBF !important;
} .mat-card-header-MedicationStatement{
  background-color:#26CF43 !important;
  padding:5px !important;
} */

.headerSepertor1{
  width: 100%!important;
  height: 2px;
  background-color: #227f77!important;
  margin-top: 1px;
}
/* table head, heading color */
th{
  color: #227f77;
}
h1{
  font-weight: bold;
  color: #227f77;
}
/* added space class */
.space{
  margin-top: 15px;
}
