<div class="content">
    <div class="container-fluid">




        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3" >
                <div class="card" style="background-color: #06b1ff;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="icon-big text-center">
                                  <img src="../../../assets//img/allergies.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="detail text-center">
                                    <p>ALLERGIES</p>
                                    <span class="number">6</span>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                              <span style="color:#fff4e6;text-align: center;justify-content: center;"> <i class="fa fa-bath" aria-hidden="true"></i> Increased Pollen in yo...</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #4a65ff;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                              
                                    <img src="../../../assets//img/immunizations.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>IMMUNIZATIONS</p>
                                    <span class="number">6</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">   <i class="fas fa-calendar"></i> Avoid Nonessential Tr...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #4CAF50;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <img src="../../../assets//img/medication.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>MEDICATIONS</p>
                                    <span class="number">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">   <i class="fas fa-stopwatch"></i> Keeep itt up-to-date</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #fcbd00;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <img src="../../../assets//img/genomics.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>GENOMICS</p>
                                    <span class="number">7</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">    <i class="fa fa-deaf" aria-hidden="true"></i> Research Paper on G...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h4 class="mb-0">Top Patient by Country</h4>
                            <p class="text-muted">Your year long website traffic data</p>
                        </div>
                        <div class="canvas-wrapper">
                            <table class="table no-margin bg-lighter-grey">
                                <thead class="success">
                                    <tr>
                                        <th>Country</th>
                                        <th class="text-right">Patients</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-us"></i> United States</td>
                                        <td class="text-right">27,340</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-in"></i> India</td>
                                        <td class="text-right">21,280</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                        <td class="text-right">18,210</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-gb"></i> United Kingdom</td>
                                        <td class="text-right">15,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                        <td class="text-right">14,276</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                        <td class="text-right">13,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                        <td class="text-right">12,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                        <td class="text-right">11,886</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                        <td class="text-right">11,509</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-sg"></i> Singapore</td>
                                        <td class="text-right">1,700</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h4 class="mb-0">Top Providers by Country</h4>
                            <p class="text-muted">Your year long providers data</p>
                        </div>
                        <div class="canvas-wrapper">
                            <table class="table no-margin bg-lighter-grey">
                                <thead class="success">
                                    <tr>
                                        <th>Country</th>
                                        <th class="text-right">Provider</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-us"></i> United States</td>
                                        <td class="text-right">7,200</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-in"></i> India</td>
                                        <td class="text-right">6,190</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                        <td class="text-right">4,790</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-gb"></i> United Kingdom</td>
                                        <td class="text-right">4,480</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                        <td class="text-right">4,276</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                        <td class="text-right">3,455</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                        <td class="text-right">3,201</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                        <td class="text-right">1,996</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                        <td class="text-right">1,809</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-sg"></i> Singapore</td>
                                        <td class="text-right">1,550</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    
       

    </div>
</div>
   
