hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
 
}

.data-source-select-box {
  width: 300px;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}

.active-box {
  background-color: #e8f5e9;
  border: 2px dashed #00b07c;
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

/* for heading :- paitent portal connection*/
.mat-h2{
  /* text-align: center; */
  color:#227f77;
 
}
/* Slectect box color */
::ng-deep.box-container.active-box{
  background-color:white !important;

}
.box-container{
  margin-left: 5px;
  margin-right: 5px;
  background-color:#e8fcfa;
  /* shadow for box shadow */
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.30);

}
/* label color  */
::ng-deep.mat-tab-label{
  color:#227f77;
}

