<div class="main-container">
  <!-- container size 150 -->
  <div class="min-height-150 mobile-min-height-88">
    <mat-card *ngIf="addDataSource"
      class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
      <div class="flex-container">
        <div class="width-50">
          <!-- mat icon and mat title color -->
          <mat-icon style="color: #227f77;" class="material-icons">storage</mat-icon>
          <mat-card-title style="color: #227f77;"  class="card-main-title font-700">Data Source</mat-card-title>
        </div>
        <div class="width-50 ">
          <div class="text-right">
            <button mat-flat-button class="button-success hide-in-mobile-screen" (click)="addDataSourceBtn()">Add Data
              Source </button>
            <button style="margin-top: -10px; position: relative;
             float: right;" class="hide-in-large-screen" (click)="addDataSourceBtn()" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>



      <mat-tab-group class="margin-top-15">
        <mat-tab label="Patient Portal Connections">
          <ng-template matTabContent>
            <div class=" row">
              <div class="col-md-12">
                <div class="box-container">
                  <h2 class="mat-h2 mat-subheadline">Patient Portal Connections</h2>
                  <hr class="line-divider">
                  <h3 class="mat-h3 mat-subheading remove-margin-bottom text-center">Data source not availiable.</h3>
                  <!-- <div class="text-center" style="margin-bottom: 10px;">
                  <button mat-flat-button class=" button-success" (click)="addDataSourceBtn()">Add Data Source</button>
                </div> -->
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Manual Uploads">
          <ng-template matTabContent>
            <div class="row">
              <div class="col-md-12">
                <div class="box-container">
                  <h2 class="mat-h2 mat-subheadline">Manual Uploads</h2>
                  <hr class="line-divider ">

                  <!-- <div class="row" style="padding: 0px 15px 15px 15px;">
                    <div class="col-md-2 margin-top-30 laptop-col-md-25 tab-col-md-50 big-tab-col-33"
                      *ngFor="let provider of providerList">
                      <mat-card class="upload-company-document-card remove-box-shadow">
                        <button [matMenuTriggerFor]="menuUploadFile" mat-icon-button class="upload-file-button">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menuUploadFile="matMenu">
                          <button mat-menu-item>
                            Delete
                          </button>
                        </mat-menu>
                        <mat-card-header class="manual-upload-card-header">

                          <mat-card-title style="font-size: 14px;">Name : {{provider.full_name}}
                          </mat-card-title>
                          <mat-card-subtitle>NPI no. : {{provider.npi}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>
                            Address : <span>{{provider.address1 | titlecase}}, {{provider.address2 | titlecase}}</span>
                            {{provider.state_id}}
                          </p>
                        </mat-card-content>
                      </mat-card>
                    </div>

                  </div> -->
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let provider of providerList" class="hs-expansion-panel"
                      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="hs-expansion-panel-header">
                        <mat-panel-title>

                          <div class="flex-container mobile-accordion-flex">
                            <!-- <div>
                              <img class="patient-portal-logo" src="https://via.placeholder.com/65">
                            </div> -->
                            <div>
                              <div><span class="font-bold">Name : </span>
                                <span *ngIf="provider.full_name!=null">{{provider.full_name | titlecase}}</span>
                                <span
                                  *ngIf="provider.full_name==null">{{provider.first_name | titlecase}}&nbsp;{{provider.last_name | titlecase}}</span>
                              </div>
                              <div><span class="font-bold">Address : </span>
                                <span>{{provider.address1 | titlecase}}</span>
                                <span *ngIf="provider.address2 != ''">, {{provider.address2 | titlecase}}</span>
                                <span>, {{provider.state_id}}</span>
                              </div>
                              <div> </div>
                              <div><span class="font-bold">NPI no. : </span> {{provider.npi | titlecase}}</div>
                            </div>

                          </div>

                        </mat-panel-title>

                      </mat-expansion-panel-header>
                      <button mat-icon-button>
                        <mat-icon class="material-icons delete-icon">delete</mat-icon>
                      </button>
                    </mat-expansion-panel>
                  </mat-accordion>



                  <div *ngIf="providerList.length <1">
                    <h3 class="mat-h3 mat-subheading remove-margin-bottom text-center">Data source not availiable.</h3>

                  </div>

                  <!-- <div class="text-center" style="margin-bottom: 10px;">
                  <button mat-flat-button class=" button-success" (click)="addDataSourceBtn()">Add Data Source</button>
                </div> -->


                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>


    </mat-card>
    <!--Select Data Source Card @Shadmman Waris-->
    <!-- <mat-card *ngIf="selectDataSource" class="select-data-source text-center">
      <mat-card-title>Select data type source type</mat-card-title>
      <div class="row">
        <div class="col-md-12">
          <div class="box-container-layout">


            <div id="patientPortal" (click)="selectPatientPortal()"
              class="box-container text-center data-source-select-box" style="margin-right: 15px">
              <img class="patient-portal-select-img" src="../../../assets/images/provider/login.svg">
              <h2 class="mat-h2 mat-heading">Patient Portal Connection</h2>
              <p class="hide-in-mobile-screen">Pull electronic medical record data using login informaion on one of the
                many supported health system.
              </p>
            </div>
            <div id="fileUpload" (click)="selectFileUpload()" class="box-container  text-center data-source-select-box">
              <img class="file-upload-select-img" src="../../../assets/images/provider/save.svg">
              <h2 class="mat-h2 mat-heading">Manual Upload</h2>
              <p class="hide-in-mobile-screen">Upload image, video, or documents that could help provide more
                information
                on your health.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button mat-flat-button class="button-150" color="primary" (click)="backToAddSource()">Back</button>
        <button mat-flat-button class="button-success button-150 button-spacing"
          (click)="clickContinue()">Continue</button>
      </div>
    </mat-card> -->
    <!--Select Data Source Caed Ends-->

    <!-- Request a Health System -->
    <!-- <mat-card *ngIf="openRequestHealthPortal" class="request-health-system">
      <mat-card-title class="text-center ">Request a Health System</mat-card-title>
      <div style="margin-top: 1rem">
        <form>
          <mat-form-field class="form-100">
            <mat-label>Enter the name of the health system you would like to see supported.</mat-label>
            <input (focusout)=getHealthOrganisation(orgname.value) matInput #orgname>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div>
      <div *ngIf="records.length > 1">
        <div>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of records | paginate: { itemsPerPage: 4, currentPage: p }"
              class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div>{{item.basic.organization_name}}</div>
                  <div>{{item.addresses[0].address_1}}, {{item.addresses[0].address_2}},
                    {{item.addresses[0].city}}, {{item.addresses[0].state}}</div>
                  <div>{{item.number}}</div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button mat-flat-button (click)="getProviderData(item.number)" class="button-success">Confirm</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="text-center" style="margin-top: 30px;">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <div *ngIf="records.length < 1" class="text-center">
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of records | paginate: { itemsPerPage: 4, currentPage: p }"
              class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div>{{item.basic.organization_name}}</div>
                  <div>{{item.addresses[0].address_1}}, {{item.addresses[0].address_2}},
                    {{item.addresses[0].city}}, {{item.addresses[0].state}}</div>
                  <div>{{item.number}}</div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button mat-flat-button (click)="getProviderData(item.number)" class="button-success">Confirm</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

    </mat-card> -->
    <!-- Request a Heath System Ends-->
  </div>
</div>