.detalisBtn{
  background-color:rgb(238, 255, 249) !important ;
    border: 1px solid #227f77;
    color:  #227f77;
    border-radius: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.cardContainer{
    margin-top: 12px!important;

    border: 1px solid #9c9b9b!important;
    box-shadow: 4px 6px 14px -5px rgba(0,0,0,0.42);
}

.wait{
    color: red;
    font-size: 18px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}


::ng-deep .mat-card-header-Condition{
    background-color:#5A7BBF !important;
    padding:5px !important;
  }
  ::ng-deep .mat-card-header-MedicationStatement{
    background-color:#26CF43 !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-AllergyIntolerance{
    background-color:#564976 !important;
    padding:5px !important;
  }
  ::ng-deep .mat-card-header-Immunization{
    background-color:#5C16A7 !important;
    padding:5px !important;
  }
  ::ng-deep .mat-card-header-Observation{
    background-color:#F45E8D !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-Procedure{
    background-color:#D64745 !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-MedicationOrder{
    background-color:#1B8918 !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-Goal{
    background-color:#11DDD0 !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-CarePlan{
    background-color:#171BBD !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-Encounter{
    background-color:#171BBD !important;
    padding:5px !important;
  }

  ::ng-deep .mat-card-header-FamilyMemberHistory{
    background-color:#9D20AF !important;
    padding:5px !important;
  }
  /* icon color */
.material-icons{
  color:#227f77 ;
}
/* title color */
::ng-deep .card-main-title{
  color:#227f77!important ;
}
/*  margin */
.mat-icon{
  margin-left: 5px;
  margin-top: 15px;
  color: #227f77 !important;
}
/* heasing color */
h2{
  color: #227f77;
}

.mat-card-title{
  color: white;
}
.mat-card-subtitle{
  color: white;
}
.cardContainer{
  
  background-color: rgb(255, 255, 255);
}
  
.mat-expansion-panel{
  background-color: rgb(238, 255, 249);
}
  

  
  ::ng-deep .mat-card{
    padding:0 !important;
    cursor: pointer;
  }
  
  ::ng-deep .mat-card-content{
    padding-left: 5px !important;
    margin-top:5px!important;
  }
  
  .mat-card>.mat-card-actions:last-child {
    margin-bottom: 15px !important;
    margin-left: 10px !important;;
}
/* shadow for box */
.mat-card{
  box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
}