<mat-progress-bar value={{progessValue}}></mat-progress-bar>



<div class="col-md-12 " *ngIf="enableLoading">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>


<div class="main-container">
  <mat-card class="min-height-150">
    <div *ngIf="addFlag">
      <div class="flex-container">
        <div style="width: 85%;">
          <mat-icon class="material-icons">medical_services</mat-icon>
          <mat-card-title class="card-main-title font-700">Medical Records</mat-card-title>
        </div>
        <div class="hide-in-large-screen float-right">
          <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Sort By :</h4>
            <button mat-menu-item>Record Type</button>
            <button routerLink="/patient/manual-medical-records" mat-menu-item>Add Manual Medical Record</button>
          </mat-menu>
        </div>
      </div>
      <div class="sort-select-form hide-in-mobile-screen">
        <button routerLink="/patient/manual-medical-records" matTooltip="Go to Manual Medical Record" matTooltipPosition="left" mat-menu-item style="color: #0023e2;text-decoration: underline;">Add Manual Medical Record</button>

        <!-- <mat-form-field class="remove-padding-bottom" appearance="outline">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option>-- select option --</mat-option>
            <mat-option value="option1">Record Type</mat-option>
            <mat-option routerLink="/patient/manual-medical-records" value="option2">Manual Medical Record</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
    <div class="margin-top-30">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of medicalRecord"
          class="box-shadow main-accordion accordion-spacer" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="mat-h2 mat-subheading remove-margin-bottom">
                {{item.name}}
                <!-- <span class="wait" *ngIf="item.records.length == 0">({{dataStatusDispaly}})</span> -->


              </h2>
            </mat-panel-title>
            <mat-panel-description>
              <!-- <button *ngIf="addFlag" matTooltip="Get Data" (click)="getOneUpResourceByType(item.resorceType)"
                matTooltipPosition="left" class="medical-record-accordion-button" mat-button>
                <mat-icon>cloud_download</mat-icon>
              </button> -->
              <button *ngIf="!addFlag && user_id!=null" matTooltip="View Data" matTooltipPosition="left"
                class="medical-record-accordion-button" mat-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="addFlag">
            <button *ngIf="addFlag" matTooltip="Refresh Data" (click)="getOneUpResourceByType(item.resorceType)"
            matTooltipPosition="left" class="medical-record-accordion-button" mat-button>
            <mat-icon style="margin-top: auto;">refresh</mat-icon>
          </button>
 
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;margin-top: 28px;">
              <div class="col-md-12" class="wait" *ngIf="item.records.length == 0">{{dataStatusDispaly}}</div>
              <div *ngFor="let subitem of item.records" class="col-md-4 col-lg-4 col-sm-12 remove-col-padding-right">
                <!-- Display conditon resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Condition'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-Condition">
                    <mat-card-title>{{subitem.code.text}}</mat-card-title>
                    <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr *ngIf="subitem.dateRecorded && subitem.dateRecorded!=''">
                        <th>Date</th>
                        <td>{{subitem.dateRecorded | date:'MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>


                <!-- Display MedicationStatement resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationStatement'" (click)="openDialog(subitem)"> 
                  <mat-card-header class="mat-card-header-MedicationStatement">
                    <mat-card-title> <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container> </mat-card-title>
                    <mat-card-subtitle> <ng-container *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">{{subitem.dateAsserted | date:'h:mm:ss MM/dd/yyyy'}}</ng-container></mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">
                        <th>Date</th>
                        <td>{{subitem.dateAsserted | date:'MM/dd/yyyy' }}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>






                <!-- Display AllergyIntolerance resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='AllergyIntolerance'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-AllergyIntolerance">
                    <mat-card-title>{{subitem.substance.text}}</mat-card-title>
                    <mat-card-subtitle>{{subitem.category}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.meta.lastUpdated | date:'h:mm:ss MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>


                <!-- Display Immunization resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Immunization'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-Immunization">
                    <mat-card-title>{{subitem.vaccineCode.text}}</mat-card-title>
                    <mat-card-subtitle>{{subitem.status}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.meta.lastUpdated | date:'h:mm:ss MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>



                <!-- Display Immunization resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Observation'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-Observation">
                    <mat-card-title>{{subitem.code.text}}</mat-card-title>
                    <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.effectiveDateTime | date:'h:mm:ss MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>




                <!-- Display Procedures resource data -->
                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Procedure'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-Procedure">
                    <mat-card-title>{{subitem.code.text}}</mat-card-title>
                    <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>

                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>


                 <!-- Display MedicationOrder resource data -->
                 <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationOrder'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-MedicationOrder">
                    <mat-card-title>

                      <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <ng-container *ngIf="subitem.dateWritten !=''">{{subitem.dateWritten | date:'MM/dd/yyyy'}}</ng-container>
                    </mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.dateWritten | date:'MM/dd/yyyy' }}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>





                <!-- Display FamilyMemberHistory resource data -->

                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='FamilyMemberHistory'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-FamilyMemberHistory">
                    <mat-card-title>
                      <ng-container *ngIf="subitem.condition && subitem.condition[0].code.coding[0].display !=''">{{subitem.condition[0].code.coding[0].display}}</ng-container>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <ng-container *ngIf="subitem.relationship && subitem.relationship.coding[0].display !=''"> {{subitem.relationship.coding[0].display}}</ng-container>

                   </mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.date | date:'h:mm:ss MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button  class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>


                
                <!-- Display Goal resource data -->

                <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Goal'" (click)="openDialog(subitem)">
                  <mat-card-header class="mat-card-header-Goal">
                    <mat-card-title>
                      <ng-container *ngIf="subitem.description !=''">{{subitem.description}}</ng-container>
                    </mat-card-title>
                    <mat-card-subtitle>
                      <ng-container *ngIf="subitem.category && subitem.category[0].text !=''"> {{subitem.category[0].text}}</ng-container>

                   </mat-card-subtitle>
                  </mat-card-header>
                  <div class="headerSepertor1"></div>
                  <mat-card-content>
                    <table width="100%" cellpadding="2px" cellspacing="3px">
                      <tr>
                        <th width="38%">ID</th>
                        <td>{{subitem.id}}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{subitem.startDate | date:'MM/dd/yyyy'}}</td>
                      </tr>
                      <tr>
                        <th>Source</th>
                        <td>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{subitem.custom_type}}</mat-chip>
                          </mat-chip-list>

                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button class="detalisBtn">View Details</button>

                  </mat-card-actions>
                </mat-card>




                   <!-- Display CarePlan resource data -->

                   <mat-card class="cardContainer" *ngIf="subitem.resourceType=='CarePlan'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-CarePlan">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.category && subitem.category[0].text !=''">{{subitem.category[0].text}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.status"> {{subitem.status}}</ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    <div class="headerSepertor1"></div>
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr>
                  
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions>
                  </mat-card>





                   <!-- Display Encounter resource data -->

                   <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Encounter'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Encounter">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.type && subitem.type[0].text !=''">{{subitem.type[0].text}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.class && subitem.period"> [{{subitem.class}}] : [{{subitem.period.start | date:'h:mm:ss MM/dd/yyyy'}} To {{subitem.period.end | date:'h:mm:ss MM/dd/yyyy'}}] </ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    <div class="headerSepertor1"></div>
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr>
                  
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions>
                  </mat-card>




















              </div>


            </div>
          </ng-container>

          <div *ngIf="!addFlag" class="row" style="margin-right: 5px; margin-bottom: 15px;"
            (click)="getHealthcareResourcesByID(user_type, user_id, item.name)">
            <div *ngIf="user_id==null">
              <p style="margin-left: 15px;">No any user selected, please select user to view</p>
            </div>
            <ng-container *ngIf="user_id!=null">
              <div class="col-md-6 col-sm-12 remove-col-padding-right" *ngFor="let subitem of item.records">
                <mat-accordion>
                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="flex-container width-100">
                        <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">{{subitem.title | titlecase}}
                        </h4>
                        <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">
                          {{subitem.subtitle | titlecase}}</h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr *ngFor="let field of subitem.fieldRecords">
                        <th class="width-50 mob-width-70">{{field.name}}</th>
                        <td class="width-50 mob-width-30">{{field.value}}</td>
                      </tr>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- Please dont this comment for now. This is later UI Reference for @Shadman Waris-->


    <!-- <div class="margin-top-30">
      <mat-accordion>
        <mat-expansion-panel class="remove-box-shadow main-accordion accordion-spacer" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 class="mat-h2 mat-subheading remove-margin-bottom">Observations</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
            <div class="col-md-6 col-sm-12 remove-col-padding-right" *ngFor="let item of medRecord.entry">
              <div>{{item.resource.code.text}}</div>
              <div>{{item.resource.category.text}}</div>
              <mat-accordion>
                <mat-expansion-panel class="remove-box-shadow inner-accordion  accordion-spacer"
                  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="flex-container width-100" *ngFor="let item of item.resource">
                      <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">{{item.code.text}}
                      </h4>
                      <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">
                      </h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table class="width-100">
                    <tr>
                      <th class="width-50 mob-width-70">{{field.name}}</th>
                      <td class="width-50 mob-width-30">{{field.value}}</td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div> -->

    <!-- Comment Ends Here -->

  </mat-card>
</div>