<div class="row">
  <div class="col-12 col-md-12 col-xs-12 col-lg-12" style="background-color:#607D8B;height:65px;">
    <span class="logoText">Curamei</span>
  </div>
</div>
<h1 class="text-center" style="font-weight: 600; text-decoration: underline; margin-top: 1.5rem;">Terms of service</h1>