<div class="main-container">
    <div class="min-height-100 mobile-min-height-88">
      <mat-card 
        class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
        <div>
          <div class="flex-container">
            <div style="width: 85%;">
              <mat-icon class="material-icons">directions_run</mat-icon>
              <mat-card-title class="card-main-title font-700">Fitbit Dashboard</mat-card-title>
            </div>
            <div class="hide-in-large-screen float-right">
              <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">View By User :</h4>
                <span *ngFor="let user of users">
                  <button mat-menu-item (click)="selectedUser(user.id)">{{user.fullname}}</button>
                </span>
              </mat-menu>
            </div>
          </div>
          <div class="sort-select-form hide-in-mobile-screen">
            <mat-form-field class="remove-padding-bottom" appearance="outline">
              <mat-label>View By User</mat-label>
              <mat-select (selectionChange)="selectedUser($event.value)">
                <mat-option>-- select user --</mat-option>
                <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row margin-top-15">
          <div class="col-md-12">
            <div class="box-container">
              <app-fitbit-dashboard [user_id]="user_id"></app-fitbit-dashboard>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>