tr.example-detail-row {
  height: 0;
}
/* border and box shadow */
.mat-card{
  border-radius: 1em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.loadingHide {
  display: none;
}
.main-container{
  border-radius: 1em!important ;
  background-color: #d7fcf5!important ;
}