<!-- <div class="content">
    <div class="container-fluid">




        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3" >
                <div class="card" style="background-color: #06b1ff;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="icon-big text-center">
                                  <img src="../../../assets//img/allergies.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="detail text-center">
                                    <p>ALLERGIES</p>
                                    <span class="number">6</span>

                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                              <span style="color:#fff4e6;text-align: center;justify-content: center;"> <i class="fa fa-bath" aria-hidden="true"></i> Increased Pollen in yo...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #4a65ff;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">

                                    <img src="../../../assets//img/immunizations.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>IMMUNIZATIONS</p>
                                    <span class="number">6</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">   <i class="fas fa-calendar"></i> Avoid Nonessential Tr...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #4CAF50;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <img src="../../../assets//img/medication.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>MEDICATIONS</p>
                                    <span class="number">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">   <i class="fas fa-stopwatch"></i> Keeep itt up-to-date</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card" style="background-color: #fcbd00;color:#fff4e6">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <img src="../../../assets//img/genomics.png" heigh="65" width="65">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail text-center">
                                    <p>GENOMICS</p>
                                    <span class="number">7</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="text-align: center;">
                            <hr />
                            <div class="stats">
                                <span style="color:#fff4e6;text-align: center;justify-content: center;">    <i class="fa fa-deaf" aria-hidden="true"></i> Research Paper on G...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h4 class="mb-0">Top Patient by Country</h4>
                            <p class="text-muted">Your year long website traffic data</p>
                        </div>
                        <div class="canvas-wrapper">
                            <table class="table no-margin bg-lighter-grey">
                                <thead class="success">
                                    <tr>
                                        <th>Country</th>
                                        <th class="text-right">Patients</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-us"></i> United States</td>
                                        <td class="text-right">27,340</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-in"></i> India</td>
                                        <td class="text-right">21,280</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                        <td class="text-right">18,210</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-gb"></i> United Kingdom</td>
                                        <td class="text-right">15,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                        <td class="text-right">14,276</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                        <td class="text-right">13,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                        <td class="text-right">12,176</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                        <td class="text-right">11,886</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                        <td class="text-right">11,509</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-sg"></i> Singapore</td>
                                        <td class="text-right">1,700</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="content">
                        <div class="head">
                            <h4 class="mb-0">Top Providers by Country</h4>
                            <p class="text-muted">Your year long providers data</p>
                        </div>
                        <div class="canvas-wrapper">
                            <table class="table no-margin bg-lighter-grey">
                                <thead class="success">
                                    <tr>
                                        <th>Country</th>
                                        <th class="text-right">Provider</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-us"></i> United States</td>
                                        <td class="text-right">7,200</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-in"></i> India</td>
                                        <td class="text-right">6,190</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                        <td class="text-right">4,790</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-gb"></i> United Kingdom</td>
                                        <td class="text-right">4,480</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                        <td class="text-right">4,276</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                        <td class="text-right">3,455</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                        <td class="text-right">3,201</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                        <td class="text-right">1,996</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                        <td class="text-right">1,809</td>
                                    </tr>
                                    <tr>
                                        <td><i class="flag-icon flag-icon-sg"></i> Singapore</td>
                                        <td class="text-right">1,550</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>
    -->
<div class="main-container">
    <div class="row">
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">States</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">52</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Patients</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading big-screen font-bolder">1455465</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Provider</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">152</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Support</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">552</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row row-divider">
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right ">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Data Source</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">79952</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen"> Health
                                Integration</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">852</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Accounts</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">5562</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <div class="row">
                    <div class="col-md-4 col-sm-6 remove-padding-right">
                        <div class="text-center">
                            <img class="monitor-image" style="width: 100%; height: 100%;"
                                src="https://via.placeholder.com/100x120">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div>
                            <h2 style="margin-bottom: 0.5rem;" class="font-subheading big-screen">Active Users</h2>
                            <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">75552</h1>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row row-divider">
        <div class="col-md-12">
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <h1 style="padding:15px; margin-bottom: 0rem;" class="font-heading">User Accounts</h1>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Advance Search</mat-label>
                            <input matInput (focusout)="applyFilter()"  [(ngModel)]="emailFilter"  placeholder="Email">
                            <mat-icon (click)="applyFilter()" matSuffix style="cursor: pointer;">search</mat-icon>
                        </mat-form-field>

                    </div>
                    <!-- <div class="col-md-4">

                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12 table-container">


                        <!-- <mat-form-field style="width: 25%; float: right;">
                            <mat-label>User Name</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Advance Search">
                        </mat-form-field> -->

                     
                          

                        <table mat-table [dataSource]="dataSource" multiTemplateDataRows
                            class="mat-elevation-z8 table-100">

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                         
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef> Created </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdate | date}} </td>
                            </ng-container>
                            <ng-container matColumnDef="details">
                                <th mat-header-cell *matHeaderCellDef> Details </th>
                                <td style="cursor: pointer!important;" mat-cell *matCellDef="let element"  (click)="expandedElement = expandedElement === element ? null : element">
                                    <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                                        add
                                    </mat-icon>
                                    <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        remove
                                    </mat-icon>
                                </td>
                            </ng-container>
 
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                    <div class="example-element-detail"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <div style="width: 100%; padding: 0px 0px 25px 0px;">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td class="td-admin-dash" style="width: 25%;">
                                                        Number Data Sources
                                                    </td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    <td class="td-admin-dash" style="width: 25%;">Number Provider</td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-admin-dash">
                                                        Upload File Size
                                                    </td>
                                                    <td class="td-admin-dash">#</td>
                                                    <td class="td-admin-dash">Number Digital Health</td>
                                                    <td class="td-admin-dash">#</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-admin-dash">
                                                        Plus Subscription
                                                    </td>
                                                    <td class="td-admin-dash">#</td>
                                                    <td class="td-admin-dash">Referrals</td>
                                                    <td class="td-admin-dash">#</td>
                                                </tr>
                                            </table>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td class="td-admin-dash" style="width: 25%;">
                                                        Number Patient
                                                    </td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    <td class="td-admin-dash" style="width: 25%;">NPI</td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-admin-dash">
                                                        Number Support
                                                    </td>
                                                    <td class="td-admin-dash">#</td>
                                                    <td class="td-admin-dash">Primary Practice</td>
                                                    <td class="td-admin-dash">#</td>
                                                </tr>

                                            </table>
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td class="td-admin-dash" style="width: 25%;">
                                                        Provider NPI
                                                    </td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    <td class="td-admin-dash" style="width: 25%;">Provider Name</td>
                                                    <td class="td-admin-dash" style="width: 25%;">#</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-admin-dash">
                                                        Permission
                                                    </td>
                                                    <td class="td-admin-dash">#</td>
                                                    <td class="td-admin-dash">Approve Request : Y</td>
                                                    <td class="td-admin-dash">See Details: Y</td>
                                                </tr>

                                            </table>

                                            <div style="margin-top: 1rem;">
                                                <button mat-raised-button class="text-uppercase"
                                                    style="background-color: #252525; color: #ffffff;">Reset</button>
                                                <button mat-raised-button class="text-uppercase" color="warn"
                                                    style="margin-left: 25px">Delete</button>
                                                <button class="text-uppercase" mat-raised-button
                                                    style="margin-left: 25px" color="primary">Edit</button>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="noData">
                                <th style="text-align: center;
                                                      color: red;" mat-footer-cell *matFooterCellDef colspan="5"> {{dataFilterLoading}} </th>
                              </ng-container>





                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                                [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = row;">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                            </tr>
                            <tr mat-footer-row *matFooterRowDef="['noData']"
                            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>
                        </table>
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
</div>