.row-divider {
  margin-top: 2rem;
}

.table-100 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
}

.table-container {
  color: #e8fcfa;
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

/* .modal-biometics{
      width: 750px!important;
    } */

.loadingHide {
  display: none;
}

.closeBtn {
  padding: 11px;
  background-color: #676765;
  color: white;
  text-align: end;
  float: right;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 3px 1px 4px #8a8989;
  font-weight: 600;
}
/* table head color, fontsize and background */
th{

  font-size: medium;
  background-color:#d7fcf5;
  color:#00c7b0;
}
/* set table & shadow */
table{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.30);
}



