<div class="main-container">
  <!-- container height -->
  <div class="min-height-150">
    <div class="row">
      <div class="col-md-12 hide-in-mobile-screen" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-100 table-box-shadow ">

          <ng-container matColumnDef="npino">
            <th mat-header-cell *matHeaderCellDef> Npi No. </th>
            <td mat-cell *matCellDef="let element"> {{element.npi}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> <span
                *ngIf="element.full_name==null">{{element.first_name}}&nbsp;{{element.last_name}}</span>
              <span *ngIf="element.full_name!=null">{{element.full_name}}</span>

            </td>
          </ng-container>

          <ng-container matColumnDef="state_name">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="country_name">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container> -->
          <ng-container matColumnDef="postal_code">
            <th mat-header-cell *matHeaderCellDef> Post Code </th>
            <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
          </ng-container>

          <ng-container matColumnDef="addressone">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-address"> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address1 | titlecase}} <span
                *ngIf="element.address2 != ''">,
                &nbsp;{{element.address2 | titlecase}}</span> </td>
          </ng-container>
          <!-- <ng-container matColumnDef="addresstwo">
            <th mat-header-cell *matHeaderCellDef> Address 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
          </ng-container> -->
          <ng-container matColumnDef="taxonomy">
            <th mat-header-cell *matHeaderCellDef> Taxonomy </th>
            <td mat-cell *matCellDef="let element"> {{element.taxonomy | titlecase}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-action text-center"> Action </th>
            <td class="text-center" mat-cell *matCellDef="let element"><button
                (click)="getParticularProviderDetails(element.pid)" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button><button mat-icon-button (click)="ParticularDelete(element.pid)">
                <mat-icon color="warn">delete
                </mat-icon>
              </button> </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-details text-center"> Details </th>
            <td style="cursor: pointer!important;" class="text-center" mat-cell *matCellDef="let element"
              (click)="expandedElement = expandedElement === element ? null : element">
              <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                add
              </mat-icon>
              <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                remove
              </mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="width: 100%; padding: 0px 0px 25px 0px;">


                  <div style="margin-top: 1rem;">
                    <div class="margin-top-30">
                      <div *ngIf="element.identifiers_desc == 'MEDICAID'">
                        <span class=" font-neutral">Medicaid Identifier no. :</span> <span
                          class="font-bold">{{element.identifiers_no}}</span>
                        |
                        <span class="font-neutral">Medicaid State :</span> <span
                          class="font-bold">{{element.identifiers_state}}</span>
                      </div>
                      <div style="color:red;font-size: 15px; font-weight: 500;"><span>{{UploadText}}</span></div>
                    </div>
                    <div style="margin-top: 30px; margin-bottom: 30px;">
                      <form *ngIf="!throughProviderFlag" [formGroup]="addFilesForm" (ngSubmit)="upload()">
                        <!-- <button mat-flat-button class="show-choose-file-button">
                          <input formControlName="fileName" #myInput id="cin" name="cin" type="file" 
                          accept=".csv,.rtf,image/jpg,image/jpeg,image/png,application/pdf,application/vnd.ms-excel"
                            (change)="fileUploadEvent($event)" class="hide-choose-file" placeholder="Upload a file..."
                            multiple />Choose
                          File
                        </button> -->
                        <input formControlName="fileName" #myInput id="cin" name="cin" type="file"
                          accept=".csv,.rtf,image/jpg,image/jpeg,image/png,application/pdf,application/vnd.ms-excel"
                          (change)="fileUploadEvent($event)" placeholder="Upload a file..." multiple />

                        <button mat-flat-button class="show-choose-file-upload-button" id="lbl" type="submit"style="color: #00c7b0;border:white">
                          <mat-icon>cloud_upload</mat-icon>
                        </button>







                      </form>
                      <!-- <div  class="spinner-border text-danger loader" role="status">
                                                                                                                     <span class="sr-only">Loading...</span>
                                                                                                                  </div> -->
                    </div>
                    <mat-accordion>
                      <mat-expansion-panel class="mob-expansion-panel remove-box-shadow main-accordion"
                        (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span class="font-bold">View Uploaded Files </span> <span *ngIf="downloadingWait"
                              style="color:red;font-size: 16px;font-weight: 600;margin-left:12px!important">(Please
                              Wait...)</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                          <table class="table-100 table">
                            <tr>
                              <th >Display Name</th>
                              <th >Create On</th>
                              <th >Action</th>
                            </tr>



                            <tr *ngFor="let file of filleList;let i=index">

                              <td>

                                <div class="width-150" *ngIf="file.upiid !== editRowId"
                                  matTooltip="Edit {{element.days}} Rows">{{file.file_displayname}}</div>
                                <div class="width-150" *ngIf="file.upiid === editRowId">
                                  <mat-form-field appearance="standard" class="form-100 ">
                                    <mat-label>Temperature</mat-label>
                                    <input (focusout)="updateFileNameRow(file.upiid,$event.target.value)"
                                      [(value)]="file.file_displayname" matInput>
                                  </mat-form-field>
                                </div>

                              </td>
                              <td>{{file.create_on | date: 'MMM d, y'}}</td>
                              <!-- <td>{{item.created_on | date:'medium'}}</td> -->
                              <td style="width: 120px;" *ngIf="!throughProviderFlag">
                                <mat-icon title="Edit" style="margin-right:10px;" class="cursor-pointer"
                                  (click)="editFileName(file.upiid)" color="primary">edit
                                </mat-icon>
                                <!-- <span id="download"+i>Loading...</span> -->
                                <mat-icon style="margin-right:10px;" title="Download"
                                  (click)="downloadDocument(file.upiid,file.file_displayname)" class="cursor-pointer"
                                  color="primary">cloud_download
                                </mat-icon>
                                <mat-icon title="Archive" class="cursor-pointer"
                                  (click)="archivePatientProviderFile(file.upiid)" color="primary">archive
                                </mat-icon>
                              </td>
                              <td style="width: 120px;" *ngIf="throughProviderFlag">
                                <mat-icon style="margin-right:10px;" title="Download"
                                  (click)="downloadDocument(file.upiid,file.file_displayname)" class="cursor-pointer"
                                  color="primary">cloud_download
                                </mat-icon>
                              </td>
                            </tr>


                            <tr *ngIf="filleList.length==0">
                              <td colspan="4" style="text-align: center;color:red;font-size: 16px;margin-top:20px;">
                                File is not available.</td>
                            </tr>


                          </table>
                        </div>
                      </mat-expansion-panel>

                    </mat-accordion>




                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <th style="text-align: center;
                                    color: red;" mat-footer-cell *matFooterCellDef colspan="8"> {{noRecordFond}} </th>
          </ng-container>

          <ng-container matColumnDef="header-row-title">
            <th style="padding-top: 8px;" mat-header-cell *matHeaderCellDef [attr.colspan]="5">
              <span style="font-size: 25px;color: #15827f;font-weight: 700;">Manual Uploads</span>
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-search">

            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
              <div class="row" *ngIf="throughProviderFlag">
                <div style="padding:15px 15px 15px 0px; width: 50%;float: right; text-align: right;">
                  <mat-form-field class="remove-padding-bottom" appearance="outline" style="width: 100%;">
                    <mat-label>Select User</mat-label>
                    <mat-select (selectionChange)="selectedUser($event.value)">
                      <mat-option>-- select user --</mat-option>
                      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div style="padding:15px 15px 0px 15px; width: 50%;float: right;">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                      placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
                    <mat-icon matSuffix>search</mat-icon>

                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="!throughProviderFlag" style="padding:15px 15px 0px 15px; width: 50%;float: right;">
                <mat-form-field style="width: 100%;">
                  <mat-label>Filter</mat-label>
                  <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                    placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
                  <mat-icon matSuffix>search</mat-icon>

                </mat-form-field>
              </div>
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['header-row-title', 'header-row-search']"></tr>
          <tr mat-header-row="let row;" *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="getproviderId(row.upid)" mat-row *matRowDef="let row; columns: displayedColumns;"
            class="example-element-row" [class.example-expanded-row]="expandedElement === row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="custom-mat-row">
          </tr>
          <tr mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>

        </table>
      </div>

      <div class="col-md-12 hide-in-large-screen" style="overflow-x:hidden;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-100 table-box-shadow ">

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element">
              <div style="padding: 15px 0px;">
                <span class="neutral-font">NPI No : </span> <span class="font-bold">{{element.npi}},</span><br>
                <span class="neutral-font">Full Name :</span> <span *ngIf="element.full_name!=null"
                  class="font-bold">{{element.full_name | titlecase}},</span>
                <span *ngIf="element.full_name==null" class="font-bold">{{element.first_name | titlecase}} &nbsp;
                  {{element.last_name | titlecase}}</span><br>
                <span class="neutral-font">Address :</span><br><span class="font-bold">{{element.address1 | titlecase}},
                  {{element.address2 | titlecase}},
                  {{element.state_id | titlecase}}, {{element.country | titlecase}},
                  {{element.zipcode}}</span> <br>
                <span class="neutral-font">Taxonomy :<br></span><span class="font-bold">{{element.taxonomy}}</span>
              </div>
              <!-- <table>
                  <tr>
                    <td>NPI No</td>
                    <td>{{element.npi}}</td>
                  </tr>
                  <tr>
                    <td>Full Name</td>
                    <td>{{element.full_name}}</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td>{{element.address1}}, {{element.address2}}, {{element.state_id}}, {{element.country}},
                      {{element.zipcode}}</td>
                  </tr>
                  <tr>
                    <td>Taxonomy</td>
                    <td>{{element.taxonomy}}</td>
                  </tr>
                </table> -->
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
            </ng-container>

            <ng-container matColumnDef="state_name">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
            </ng-container>

            <ng-container matColumnDef="country_name">
              <th mat-header-cell *matHeaderCellDef> Country </th>
              <td mat-cell *matCellDef="let element"> {{element.country}} </td>
            </ng-container>
            <ng-container matColumnDef="postal_code">
              <th mat-header-cell *matHeaderCellDef> Post Code </th>
              <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
            </ng-container>
            <ng-container matColumnDef="addressone">
              <th mat-header-cell *matHeaderCellDef> Address 1 </th>
              <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
            </ng-container>
            <ng-container matColumnDef="addresstwo">
              <th mat-header-cell *matHeaderCellDef> Address 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
            </ng-container>
            <ng-container matColumnDef="taxonomy">
              <th mat-header-cell *matHeaderCellDef> Taxonomy </th>
              <td mat-cell *matCellDef="let element"> {{element.taxonomy}} </td>
            </ng-container> -->

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td style="width: 65px;" mat-cell *matCellDef="let element">
              <button *ngIf="!throughProviderFlag" (click)="getParticularProviderDetails(element.pid)" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="!throughProviderFlag" (click)="ParticularDelete(element.pid)" mat-icon-button>
                <mat-icon color="warn">delete
                </mat-icon>
              </button>
              <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
                <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                  add
                </mat-icon>
                <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  remove
                </mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Details </th>
              <td style="cursor: pointer!important;" mat-cell *matCellDef="let element"
                (click)="expandedElement = expandedElement === element ? null : element">
                <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                  add
                </mat-icon>
                <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  remove
                </mat-icon>
              </td>
            </ng-container> -->

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="width: 100%; padding: 0px 0px 25px 0px;">
                  <div style="margin-top: 1rem;">
                    <div class="margin-top-30">
                      <div *ngIf="element.identifiers_desc == 'MEDICAID'">
                        <span class=" font-neutral">Medicaid Identifier no. :</span> <span
                          class="font-bold">{{element.identifiers_no}}</span>
                        |
                        <span class="font-neutral">Medicaid State :</span> <span
                          class="font-bold">{{element.identifiers_state}}</span>
                      </div>
                      <div><span>{{UploadText}}</span></div>
                    </div>


                    <div style="margin-top: 30px; margin-bottom: 30px;">
                      <form *ngIf="!throughProviderFlag" [formGroup]="addFilesForm" (ngSubmit)="upload()">
                        <!-- <button mat-flat-button class="show-choose-file-button">
                          <input formControlName="fileName" #myInput id="cin" name="cin" type="file" accept=".csv"
                            (change)="fileUploadEvent($event)" class="hide-choose-file" placeholder="Upload a file..."
                            multiple />Choose
                          File
                        </button> -->
                        <input formControlName="fileName" #myInput id="cin" name="cin" type="file"
                          accept=".csv,.rtf,image/jpg,image/jpeg,image/png,application/pdf,application/vnd.ms-excel"
                          (change)="fileUploadEvent($event)" placeholder="Upload a file..." multiple />

                        <button mat-flat-button class="show-choose-file-upload-button" id="lbl" type="submit">
                          <mat-icon>cloud_upload</mat-icon>
                        </button>
                      </form>
                      <!-- <div  class="spinner-border text-danger loader" role="status">
                                                                                               <span class="sr-only">Loading...</span>
                                                                                            </div> -->
                    </div>
                    <mat-accordion>
                      <mat-expansion-panel class="mob-expansion-panel main-accordion remove-box-shadow"
                        (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span class="font-bold">View Uploaded Files</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                          <table class="table-100 table">
                            <tr>
                              <th>Filename</th>
                              <th>Created</th>
                              <th>Action</th>
                            </tr>



                            <tr *ngFor="let file of filleList">


                              <td>{{file.file_displayname}}</td>
                              <td>{{file.create_on | date: 'MMM d, y'}}</td>
                              <!-- <td>{{item.created_on | date:'medium'}}</td> -->
                              <td style="width: 80px;" *ngIf="!throughProviderFlag">

                                <mat-icon class="cursor-pointer" (click)="archivePatientProviderFile(file.upiid)"
                                  color="primary">archive
                                </mat-icon>

                                <mat-icon class="cursor-pointer" (click)="deletePatientProviderFile(file.upiid)"
                                  color="warn">delete
                                </mat-icon>

                                <mat-icon class="cursor-pointer" (click)="downloadDocument(file.upiid,file.file_displayname)" 
                                  color="primary">cloud_download
                                </mat-icon>

                              </td>
                              <td style="width: 80px;" *ngIf="throughProviderFlag">
                                <mat-icon class="cursor-pointer" (click)="downloadDocument(file.upiid,file.file_displayname)" 
                                  color="primary">cloud_download
                                </mat-icon>
                              </td>
                            </tr>


                            <tr *ngIf="filleList.length==0">
                              <td colspan="4" style="text-align: center;color:red;font-size: 16px;margin-top:20px;">
                                File is not available.</td>
                            </tr>


                          </table>
                        </div>
                      </mat-expansion-panel>

                    </mat-accordion>




                  </div>
                </div>

              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <th style="text-align: center;
                                              color: red;" mat-footer-cell *matFooterCellDef colspan="3">
              {{noRecordFond}} </th>
          </ng-container>

          <ng-container matColumnDef="header-row-title">
            <th style="padding-top: 15px;" mat-header-cell *matHeaderCellDef [attr.colspan]="3">
            <!-- color of title -->
              <span style="font-size: 25px;color: #227f77;font-weight: 700;">Manual Uploads</span>

            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-search">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3">
              <div class="row" *ngIf="throughProviderFlag">
                <div style="padding:15px 15px 0px 15px; width: 100%;float: right; text-align: right;">
                  <mat-form-field class="remove-padding-bottom" appearance="outline">
                    <mat-label>Select User</mat-label>
                    <mat-select (selectionChange)="selectedUser($event.value)">
                      <mat-option>-- select user --</mat-option>
                      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div style="padding:15px 15px 0px 15px">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                      placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
                    <mat-icon matSuffix>search</mat-icon>
  
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="!throughProviderFlag" style="padding:15px 0px 0px 0px">
                <mat-form-field style="width: 100%;">
                  <mat-label>Filter</mat-label>
                  <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                    placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
                  <mat-icon matSuffix>search</mat-icon>

                </mat-form-field>
              </div>

            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['header-row-title']"></tr>
          <tr mat-header-row *matHeaderRowDef="['header-row-search']"></tr>
          <tr mat-header-row="let row;" *matHeaderRowDef="mobileDisplayedColumns"></tr>
          <tr (click)="getproviderId(row.upid)" mat-row *matRowDef="let row; columns: mobileDisplayedColumns;"
            class="example-element-row" [class.example-expanded-row]="expandedElement === row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="custom-mat-row">
          </tr>
          <tr mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>

        </table>
      </div>
      <!-- <div class="col-md-12" style="text-align: center;
           color: red;font-weight: 500;" *ngIf="dataSource.data.length === 0">Record is not available
      </div> -->
    </div>
  </div>
</div>