.topCotainer{
    height: 91vh!important;
    padding: 1% 24%!important;
}

.cardContainer{
    padding: 35px 35px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


@media (max-width: 668px) {
    .topCotainer {
        padding: 0% 0%!important;
        
    }
    .cardContainer{
        padding: 10px 10px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    }

    /* .mat-card-title{
        color:#227f77 ;
      } */
.Sp{
    margin-top: 5px;
}
.col-md-3 .text-center .bor{
    border-radius: 50%;
}
/* .col-md-12 .text-center{
    color: red;
    background-color: red;
} */