<div class="main-container">
  <!-- container height 150 -->
  <div class="min-height-150 mobile-min-height-88">
    <mat-card
      class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
      <div style="margin-bottom: 30px;">
        <div class="flex-container">
          <div class="width-50">
            <mat-icon class="material-icons">medical_services</mat-icon>
            <mat-card-title class="card-main-title font-700">Search for a Provider</mat-card-title>
          </div>

        </div>
        <div class="sort-select-form hide-in-mobile-screen">
          <mat-form-field appearance="outline" class="form-100 ">
            <mat-label>Choose User Type</mat-label>
            <mat-select (selectionChange)="selectedUser($event.value)">
              <mat-option value="1">Individual</mat-option>
              <mat-option value="2">Organisations</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="margin-top-15">
        <form [formGroup]="SearchForm">
          <div class="row">
            <div class="col-md-4 hide-in-large-screen">
              <mat-form-field appearance="outline" class="form-100">
                <mat-label>Choose User Type</mat-label>
                <mat-select (selectionChange)="selectedUser($event.value)">
                  <mat-option value="1">Individual</mat-option>
                  <mat-option value="2">Organisations</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 remove-col-padding-right " *ngIf="showForIndividual">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>First Name</mat-label>
                <input formControlName="firstname" matInput (focusout)="getHealthIndividual()">
              </mat-form-field>
            </div>
            <div class="col-md-4 remove-col-padding-right " *ngIf="showForIndividual">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" matInput (focusout)="getHealthIndividual()">
              </mat-form-field>
            </div>
            <div class="col-md-8 remove-col-padding-right mob-col-padding-right" *ngIf="showFororganisation">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>Organisation Name</mat-label>
                <input (focusout)="getHealthOrganisation()" formControlName="organisationname" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="showFororganisation">
              <button mat-flat-button color="primary"
                class="mob-button-100 hide-in-large-screen mob-margin-bottom-15 mob-search-button">Search</button>
              <button (click)="getHealthOrganisation()" class="search-button hide-in-mobile-screen" mat-icon-button
                color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <div class="col-md-4" *ngIf="showForIndividual">
              <button (click)="getHealthIndividual()" mat-flat-button color="primary"
                class="mob-button-100 mob-margin-bottom-15 hide-in-large-screen mob-search-button">Search</button>
              <button (click)="getHealthIndividual()" class="search-button hide-in-mobile-screen" mat-icon-button
                color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="records.length < 1">
        <span>{{dataNotFoundMessage}}</span>
      </div>

      <!-- <div style="margin-top: 1rem">

        <form>
          <mat-form-field class="form-100">
            <mat-label>Enter the name of the health system you would like to see supported.</mat-label>
            <input (focusout)=getHealthOrganisation(orgname.value) matInput #orgname>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div> -->
      <div *ngIf="records.length > 0">
        <div>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of records | paginate: { itemsPerPage: 5, currentPage: p }"
              class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div>
                    <span class="font-bold">Name : </span>
                    <span class="InternalText">{{item.basic.organization_name | titlecase}}
                    {{item.basic.first_name | titlecase}}
                    {{item.basic.last_name | titlecase}}
                    </span>
                  </div>
                  <div>
                    <span class="font-bold">Address : </span><span class="InternalText">{{item.addresses[0].address_1 | titlecase}}<span
                      *ngIf="item.addresses[0].address_2 != ''">,
                      {{item.addresses[0].address_2 | titlecase}},</span><span>&nbsp;{{item.addresses[0].state | titlecase}}</span></span><br>
                    
                    <span class="font-bold">NPI : </span> <span class="InternalText">{{item.number}}</span>
                  </div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button mat-flat-button (click)="getProviderData(item.number)" class="button-success">Confirm</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="text-center">
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
      </div>
      <!-- <div *ngIf="records.length < 1" class="text-center ">
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of records | paginate: { itemsPerPage: 4, currentPage: p }"
              class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div *ngIf="item.basic.organization_name != ''">
                    <span class="font-bold">Name :</span>{{item.basic.organization_name}}
                  </div>
                  <div *ngIf="item.basic.first_name != ''">
                    <span class="font-bold">First Name :</span>{{item.basic.first_name}}
                  </div>

                  <div>
                    <span class="font-bold">Address :</span> {{item.addresses[0].address_1}},
                    {{item.addresses[0].address_2}}<br>
                    <span class="font-bold">Cit yyyyyy :</span> {{item.addresses[0].city}}<br>
                    <span class="font-bold">State :</span> {{item.addresses[0].state}}<br>
                    <span class="font-bold">NPI :</span> {{item.number}}
                  </div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button mat-flat-button (click)="getProviderData(item.number)" class="button-success">Confirm</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->

    </mat-card>
  </div>
</div>