/*.hs-expansion-panel-header{
    font-family: Verdana, Geneva, sans-serif;
}*/
.hs-expansion-panel{
    background: #e8fcfa;
}
/*.hs-expansion-panel.hover{
    background: #e8fcfa;
}*/
/* color to title,icon,heading,etc */
.font-bold, .material-icons,.mat-label,.mat-option,.mat-select,.mat-card-title {
    color: #227f77 ;
}
/* internal text color */
.InternalText{
    color: #585858;
}
/* .material-icons{
    color: #15827f;
}
.mat-label{
    color: #15827f;
}
.mat-option{
    color: #15827f;
}
.mat-select{
    color: #15827f;
}
.mat-card-title{
    color:#227f77 ;
} */
/*::ng-deep .mat-form-field-underline {
    display: none;
}*/
/* ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
} */
