<div class="row">
  <div class="col-md-10 mob-80">
    <h1 class="font-700" mat-dialog-title>Fitbit Account Setting</h1>
  </div>
  <div class="col-md-2 mob-20 ">
    <div class="text-right">
      <button (click)="close()" class="dialog-close" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
</div>

<div mat-dialog-content class="margin-top-30">
  <form [formGroup]="fitbitConfigForm"  (ngSubmit)="onSubmit()">
    <div class="row margin-top-15">
      <div style="padding: 15px 15px;" class="col-md-4 col-sm-12">
        <h3 class="mat-h3 remove-margin-bootom mat-subheading font-500">O Auth 2.0 Client ID</h3>
      </div>
      <div class="col-md-8 col-sm-12">
        <mat-form-field class="form-100" appearance="outline">
          <mat-label>O Auth 2.0 Client ID</mat-label>
          <input formControlName="clientid" matInput required>
          <mat-error *ngIf="fitbitConfigForm.controls.clientid.hasError('required')">
            O Auth 2.0 Client ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row margin-top-15">
      <div style="padding: 15px 15px;" class="col-md-4 col-sm-12">
        <h3 class="mat-h3 remove-margin-bootom mat-subheading font-500">Client Secret</h3>
      </div>
      <div class="col-md-8 col-sm-12">
        <mat-form-field class="form-100" appearance="outline">
          <mat-label>Client Secret</mat-label>
          <input formControlName="clientsecret" matInput required>
          <mat-error *ngIf="fitbitConfigForm.controls.clientsecret.hasError('required')">
            Client Secret is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row margin-top-15">
      <div style="padding: 15px 15px;" class="col-md-4 col-sm-12">
        <h3 class="mat-h3 remove-margin-bootom mat-subheading font-500">Callback URL</h3>
      </div>
      <div class="col-md-8 col-sm-12">
        <mat-form-field class="form-100" appearance="outline">
          <mat-label>Callback URL</mat-label>
          <input formControlName="callbackurl" matInput required>
          <mat-error *ngIf="fitbitConfigForm.controls.callbackurl.hasError('required')">
            Call Back URL is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row margin-top-15" style="margin-bottom: 20px">
      <div class="col-md-12 text-center">
        <button mat-flat-button class="proceed-button" style="width:250px">{{buttonText}}</button>
      </div>
    </div>
  </form>
</div>