.sidenav_container {
  background-color: #00d9c8;
  min-width: 60px;
  height: calc(100vh - 200px);
}
.sidenav-exp-panel{
   background-color: #00d9c8;
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

     
:focus {
  outline: none; 
}
