.grow {
    flex: 1;
}

.main {
    overflow-y: auto;
}

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  

  .loadingHide{
    display:none;
  }
  mat-footer-cell mat-footer-row{
    justify-content: center;
    text-align: center;
    font-style: italic;
    color:red;
}

