<div class="fitbit-dialog-container">
  <div class="row">
    <div class="col-md-12">
      <img class="fitbit-dialog-image" src="../../../assets/images/fitbit-dashboard/weight.svg">
      <span class="fitbit-dialog-title">Weight <span class="neutral-font">/ Kg</span></span>
      <div class="close-button-dialog">
        <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-12">
      <h1 class="mat-heading mat-h1 remove-margin-bottom">Recent</h1>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-4">
      <span class="font-size-50 font-300">{{ todayWeight | number : '1.2-2'}}</span><span>kg</span>
    </div>
    <div class="col-md-4 mob-fitbit-dialog-margin-top">
      <span class="font-size-50 font-300">{{ todayFat | number : '1.2-2'}}</span><span>% fat</span>
    </div>
    <div class="col-md-4 mob-fitbit-dialog-margin-top">

      <div class="flex-container" style="position: relative; top: -10px;">
        <div class="low-bmi">
        </div>
        <div class="normal-bmi">
        </div>
        <div class="yellow-bmi">
        </div>
        <div class="orange-bmi">
        </div>
      </div>
      <div>BMI</div>
      <div><span class="normal-bmi-text">{{ todayBmi | number : '1.2-2'}}</span></div>
    </div>
  </div>
  <div class="row margin-top-50">
    <div class="col-md-12">
      <h1 class="mat-heading mat-h1 remove-margin-bottom">Past 2 Week</h1>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-12">
      <div class="dialog-graph-container">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeWeight" [results]="weight" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis">
        </ngx-charts-bar-vertical>
      </div>

    </div>
  </div>
  <!-- <div class="row margin-top-30">
    <div class="col-md-12">
      <span class="text-uppercase">Weight Goal : 50</span><span>Kg</span>
    </div>
  </div> -->
</div>