@media (min-width: 1400px) and (max-width: 1500px) {
  .request-health-system {
    margin: 3.5% 20% !important;
    padding: 1.5% 8% !important;
  }

  .select-data-source {
    margin: 9.5% 21% !important;
    padding: 80px !important;
  }

  .apple-min-height-90vh {
    min-height: 90vh !important;
  }

  .mat-column-taxonomy {
    width: 25% !important;
  }

  .mat-upload-actions,
  .mat-upload-details {
    width: 7% !important;
  }
}