@media (min-width: 1900px) and (max-width: 4800px) {
  .select-data-source {
    margin: 8.25% 21% !important;
    padding: 80px !important;
  }

  .request-health-system {
    margin: 3.25% 20% !important;
    padding: 4% 4% !important;
  }

  .request-provider-connect {
    margin: 1.25% 20% !important;
    padding: 4% 4% !important;
  }
}