.today-activity {
  height: 300px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fitbit-dashboard-firstrow {
  height: 380px;
}

.steps-text {
  position: relative;
  top: -5rem;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-36 {
  font-size: 36px;
}

.steps-image {
  width: 75px;
  height: 75px;
  transform: rotate(20deg);
}

.calorie-image,
.weight-image {
  width: 75px;
  height: 75px;

}

.steps-image-container {
  position: absolute;
  top: 40%;
  left: 42%;

}

.total-step-container {
  width: 150px;
  height: 150px;
  border: 5px solid #7209B7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #3A0CA3;
}

.total-calories-container {
  width: 150px;
  height: 150px;
  border: 5px solid #FAC000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #FC6400;
}

.total-weight-container {
  width: 150px;
  height: 150px;
  border: 5px solid #d6efc7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #184d47;
}

.total-intake-container {
  width: 150px;
  height: 150px;
  border: 5px solid #E5B5A1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #D19477;
}

.total-steps-image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 15%;
  right: 0;
}

.totalsteps-image {
  width: 100px;
  height: 100px;
  transform: rotate(20deg);
}

.totalcalories-image {
  width: 100px;
  height: 100px;
  transform: rotate(0deg);
}

.totalweight-image {
  width: 100px;
  height: 100px;
  transform: rotate(0deg);
}

.totalsteps-text {
  position: relative;
  top: 18rem;
}

.totalsteps-subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.weighttogo-text {
  position: absolute;
  bottom: 10%;
  padding: 0 35%;
}

.coloriesburnt-text {
  position: relative;
  top: 18rem;
}

.card-shadow {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
  cursor: pointer;
}

.card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22) !important;
  cursor: pointer;
}

.calorieintake-text {
  position: relative;
  top: 17rem;
}

.fitbit-dialog-container {
  padding: 15px;
}

.fitbit-dialog-image {
  width: 45px;
}

.fitbit-dialog-title {
  font-size: 30px;
  margin-left: 30px;
  position: relative;
  top: 15px;
}

.neutral-font {
  color: #999999 !important
}

.margin-top-50 {
  margin-top: 50px;
}

.dialog-graph-container {
  height: 250px;
}

.low-bmi {
  width: 35px;
  height: 5px;
  background: #96bb7c;
}

.normal-bmi {
  width: 35px;
  height: 5px;
  background: #184d47;
}

.yellow-bmi {
  width: 35px;
  height: 5px;
  background: #FAC000;
}

.orange-bmi {
  width: 35px;
  height: 5px;
  background: #FC6400;
}

.normal-bmi-text {
  color: #184d47;
  font-weight: 700;
  font-size: 18px;
}

.line-height-48 {
  line-height: 48px !important;
}

::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  /* make scrollbar transparent */
}

.total-sleep-container {
  width: 150px;
  height: 150px;
  border: 5px solid #344966;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #0D1821;
}

.total-calout-container {
  width: 150px;
  height: 150px;
  border: 5px solid #ff6464;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% auto;
  background-color: #810000;
}

.sleep-text {
  position: relative;
  top: 18rem;
}

.chip-fitbit-position {
  position: relative;
  left: 37.5%;
}

.fitbit-dash-main-title {
  margin-top: -20px !important;
}