/* iPhone 6, 7, 8 and iPhone X */
@media (min-width: 374px) and (max-width: 376px) {


  .user-selector-box {
    width: 95px !important;
    height: 95px !important;
  }

  .radio-button-provider {
    position: relative !important;
    top: 10px !important;
    left: 40px !important;
  }

  .radio-button-patient {
    position: relative !important;
    top: 10px !important;
    left: 125px !important;
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 205px !important;
  }

  .sign-up-company-name {
    width: 100% !important;
  }

  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }







  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 11% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 17% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -34% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 8% !important;
  }

  .close-button-dialog {
    top: -8px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

  .data-source-select-box {
    width: 315px !important;
  }
}

/* iPhone 6, 7, 8 Plus */
@media (min-width: 413px) and (max-width: 415px) {


  .user-selector-box {
    width: 110px !important;
    height: 110px !important;

  }

  .radio-button-provider {
    position: relative !important;
    top: 10px !important;
    left: 48px !important;
  }

  .radio-button-patient {
    position: relative !important;
    top: 10px !important;
    left: 140px !important;
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 235px !important;
  }

  .sign-up-company-name {
    width: 100% !important;
  }



  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }





  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 11% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 17% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -34% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 8% !important;
  }

  .close-button-dialog {
    top: -60px !important;
  }

  .close-button-dialog {
    top: -5px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

  .data-source-select-box {
    width: 350px !important;
  }
}