@media (min-width: 1365px) and (max-width: 1400px) {
  .select-data-source {
    margin: 5% 19% !important;
    padding: 80px !important;
  }

  .request-health-system {
    margin: 2% 20% !important;
    padding: 3.5% 8% !important;
  }

  .laptop-min-height-85vh {
    min-height: 85vh !important;
    ;
  }

  .mat-column-taxonomy {
    width: 25% !important;
  }

  .mat-upload-actions,
  .mat-upload-details {
    width: 7% !important;
  }

  .mat-upload-address {
    width: 25% !important;
  }
}