@media (min-width:1200px) and (max-width:1900px) {
  .fitbit-dash-col-3 {
    flex: 0 0 33.3% !important;
    max-width: 33.3% !important;
  }

  .fitbit-margin-top {
    margin-top: 15px;
  }

  .fitbit-remove-right-col-padding {
    padding-right: 0px !important;
  }

  .fitbit-right-col-margin-15 {
    margin-right: 15px !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 18% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 16% !important;
  }

  .chip-fitbit-position {
    position: relative;
    left: 31.5%;
  }

  .laptop-col-md-25 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .select-data-source {
    margin: 5% 17% !important;
    padding: 80px !important;
  }

  .laptop-min-height-88vh {
    min-height: 88.5vh !important;
  }


  .mat-upload-address {
    width: 20% !important;
  }

}