@media (min-width: 200px) and (max-width: 700px) {

  .sign-card-left-container {
    padding: 25px 25px !important;
  }

  .top-header {
    position: fixed !important;
    z-index: 111 !important;
    width: 100% !important;
  }

  .mat-sidenav-container {
    margin-top: 56px !important;
  }

  .mobile-min-height-88 {
    min-height: 88vh !important;
  }

  .mobile-image-patient-provider {
    width: 45px !important;
    height: 45px !important;
  }

  .mob-button-100 {
    width: 100% !important;
  }

  .mob-col-padding-right {
    padding-right: 15px !important;
  }

  .mob-margin-bottom-15 {
    margin-bottom: 15px !important;
  }

  .mob-search-button {
    width: 100%;
    background-color: #f1f1f1;
  }

  .mob-top-add-button {
    margin-top: -10px !important;
    position: absolute !important;
    right: 10px !important;
  }


  .signup-card-right-container {
    height: 100% !important;
    padding: 25px 25px !important;
  }

  .provider-email-error {
    position: relative;
    text-align: right;
    top: -18px;
  }

}

/* Moto G4 and Galaxy S5 */

@media (min-width: 359px) and (max-width: 361px) {


  .user-selector-box {
    width: 92px !important;
    height: 92px !important;
  }

  .radio-button-provider {
    position: relative !important;
    top: 10px !important;
    left: 40px !important;
  }

  .radio-button-patient {
    position: relative !important;
    top: 10px !important;
    left: 112px !important;
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 190px !important;
  }

  .sign-up-company-name {
    width: 100% !important;
  }

  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }





  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 5% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 12% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 13% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -35% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 8% !important;
  }

  .close-button-dialog {
    top: -60px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

}



/* iPhone X */
@media (min-height: 811px) and (max-height: 813px) {


  .user-selector-box {
    width: 84px !important;
    height: 84px !important;
  }

  .radio-button-provider {
    top: 34% !important;
    left: 21.25% !important;
  }

  .radio-button-patient {
    top: 34% !important;
    left: 46.5% !important;
  }

  .radio-button-support {
    top: 34% !important;
    left: 72% !important;
  }

  .sign-up-company-name {
    width: 91% !important;
  }

  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }







  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 11% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 14% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 8% !important;
  }



  .close-button-dialog {
    top: -5px !important;
    right: -10px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

}