.signup-card-left-container {
  background-color: #f6f8fd;
  height: 498px;
}

.signup-card-right-container {
  height: 500px;
  padding: 45px 45px;
}

.user-selector-box {
  width: 100px;
  height: 100px;
  background-color: #f1f5ff;
  border-radius: 15px;
}

.signup-left-container-text {
  position: absolute;
  left: 46px;
  top: 45px;
}


.user-selector-box-text {
  width: 33.3%;
}

.margin-right-15 {
  margin-right: 15px;
}

.radio-button-provider {
  position: absolute;
  top: 57%;
  left: 60.25%;
}

.radio-button-patient {
  position: absolute;
  top: 57%;
  left: 73.5%;
}

.radio-button-support {
  position: absolute;
  top: 57%;
  left: 87%;
}

.patient-image {
  position: relative;
  top: 6px;
  width: 85%;
}

.doctor-image {
  position: relative;
  top: 6px;
  width: 85%;
}

.proceed-button {
  background-color: #5456ff !important;
  color: #ffffff;
}

.margin-top-60 {
  margin-top: 60px;
}

.npi-info-card {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.signup-stepper .mat-horizontal-content-container {
  padding: 0px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.signup-left-container-image {
  position: relative;
  top: 36%;
  left: 5%;
  width: 90%;
}