@media (min-width: 1200px) and (max-width: 1365px) {
  .select-data-source {
    margin: 7% 17% !important;
    padding: 80px !important;
  }

  .request-health-system {
    margin: 5.25% 20% !important;
    padding: 2% 4% !important;
  }

  .mat-column-taxonomy {
    width: 25% !important;
  }

}