.row-divider {
  margin-top: 2rem;
}

.table-100 {
  width: 100%;
}

.table-container {
  padding: 0rem 2rem 2rem 2rem;
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

/* .modal-biometics{
      width: 750px!important;
    } */

.loadingHide {
  display: none;
}

.closeBtn {
  padding: 11px;
  background-color: #676765;
  color: white;
  text-align: end;
  float: right;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 3px 1px 4px #8a8989;
  font-weight: 600;
}
/* icon color */
.mat-icon{
  color: #227f77;
}