<div class="main-container">


    <form [formGroup]="addUserForm" (ngSubmit)="addProvider(formDirective)" #formDirective="ngForm">
        <mat-card
            class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
            <div class="flex-container">
                <div class="width-50">
                    <mat-icon class="material-icons">done_outline</mat-icon>
                    <mat-card-title class="card-main-title font-700">Confirm New Provider</mat-card-title>
                </div>
                <div class="width-50">
                    <button style="color: #ffffff;position: relative;
    float: right;" mat-flat-button [disabled]="!addUserForm.valid" class="button-success hide-in-mobile-screen"
                        type="submit"><span>{{buttonUserText}}</span></button>
                    <button class="hide-in-large-screen mob-top-add-button" type="submit" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </div>
            <div class="row margin-top-30">



                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>NPI No.</mat-label>
                        <input [errorStateMatcher]="matcher" readonly formControlName="npino"
                            [(ngModel)]="orgDataRecord.number" matInput placeholder="Please enter npi no" required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.npino.hasError('required')">
                            NPI No. is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="orgDataRecord.enumeration_type == 'NPI-2'">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>Organisation Name</mat-label>
                        <input [errorStateMatcher]="matcher" readonly formControlName="f_name"
                            [(ngModel)]="orgDataRecord.basic.organization_name" matInput
                            placeholder="Please enter first name" required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.f_name.hasError('required')">
                            First Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="orgDataRecord.enumeration_type == 'NPI-1'">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>First Name</mat-label>
                        <input [errorStateMatcher]="matcher" readonly formControlName="f_name"
                            [(ngModel)]="orgDataRecord.basic.first_name" matInput placeholder="Please enter first name"
                            required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.f_name.hasError('required')">
                            First Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="col-md-4" *ngIf="orgDataRecord.enumeration_type == 'NPI-1'">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>Last Name</mat-label>
                        <input [errorStateMatcher]="matcher" readonly formControlName="l_name"
                            [(ngModel)]="orgDataRecord.basic.last_name" matInput placeholder="Please enter last name"
                            required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.l_name.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>





                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>State Name</mat-label>
                        <input [errorStateMatcher]="matcher" readonly formControlName="state_name"
                            [(ngModel)]="orgDataRecord.addresses[1].state" matInput
                            placeholder="Please enter state name" required>

                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.state_name.hasError('required')">
                            State Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="form-100">
                        <mat-label>Postal Code</mat-label>
                        <input [errorStateMatcher]="matcher" formControlName="postal_code"
                            [(ngModel)]="orgDataRecord.addresses[1].postal_code" matInput
                            placeholder="Please enter postal code" required maxlength="10" minlength="6">
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.postal_code.hasError('required')">
                            Postal Code is <strong>required</strong>
                        </mat-error>

                        <!-- <mat-error *ngIf="addUserForm.controls.phoneno.hasError('pattern')">
                                                    Only Number is <strong>required</strong>
                                                </mat-error> -->
                    </mat-form-field>
                </div>
                <!-- <div class="col-4">
                    <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Country Name</mat-label>
                        <input [errorStateMatcher]="matcher" formControlName="country_name"
                            [(ngModel)]="orgDataRecord.addresses[1].country_name" matInput
                            placeholder="Please enter country name" required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.country_name.hasError('required')">
                            Country Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div> -->









                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Address 1</mat-label>
                        <input [errorStateMatcher]="matcher" formControlName="addressone"
                            [(ngModel)]="orgDataRecordAddressOne" matInput placeholder="Please enter address 1"
                            required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.addressone.hasError('required')">
                            Address 1 is <strong>required</strong>
                        </mat-error>


                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Address 2</mat-label>
                        <input [errorStateMatcher]="matcher" [(ngModel)]="orgDataRecordAddressTwo"
                            formControlName="addresstwo" matInput placeholder="Please enter address 2">

                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="orgDataRecordMedicaidDesc == 'MEDICAID'">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Identifier Description</mat-label>
                        <input [errorStateMatcher]="matcher" [(ngModel)]="orgDataRecordMedicaidDesc"
                            formControlName="medicaid_desc" matInput placeholder="Please enter address 2">

                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="orgDataRecordMedicaidDesc == 'MEDICAID'">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Identifier No.</mat-label>
                        <input [errorStateMatcher]="matcher" [(ngModel)]="orgDataRecordMedicaidIdentifier"
                            formControlName="medicaid_identifier" matInput placeholder="Please enter address 2">

                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="orgDataRecordMedicaidDesc == 'MEDICAID'">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Identifier State</mat-label>
                        <input [errorStateMatcher]="matcher" [(ngModel)]="orgDataRecordMedicaidState"
                            formControlName="medicaid_state" matInput placeholder="Please enter address 2">

                    </mat-form-field>
                </div>

                <div class="col-md-8">
                    <mat-form-field appearance="outline" class="form-100">
                        <mat-label>Taxonomy Description</mat-label>
                        <input [errorStateMatcher]="matcher" formControlName="taxonomy" [(ngModel)]="orgDataRecordTaxo"
                            matInput placeholder="Please enter taxonomy description" required>
                        <mat-icon matSuffix>user</mat-icon>
                        <mat-error *ngIf="addUserForm.controls.taxonomy.hasError('required')">
                            Taxonomy Description is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <!-- <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button style="margin-top: 5%;background-color: #0074d9;color: #ffffff;" mat-flat-button
                        [disabled]="!addUserForm.valid" type="submit"><span
                            style="font-size: 18px;">{{buttonUserText}}</span></button>
                </div>
                <div class="col-md-5"></div>
            </div> -->

        </mat-card>
    </form>








    <!-- <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <div class="row">
                        <div class="col-md-6">
                            <h1 style="padding:15px; margin-bottom: 0rem;" class="font-heading">Provider List</h1>
                        </div>
                        <div class="col-md-3">

                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 table-container" style="overflow-x: auto;">
                            <table mat-table [dataSource]="dataSource" multiTemplateDataRows
                                class="mat-elevation-z8 table-100">

                                <ng-container matColumnDef="npino">
                                    <th mat-header-cell *matHeaderCellDef> Npi No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.npi}} </td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="state_name">
                                    <th mat-header-cell *matHeaderCellDef> State </th>
                                    <td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
                                </ng-container>

                                <ng-container matColumnDef="country_name">
                                    <th mat-header-cell *matHeaderCellDef> Country </th>
                                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                                </ng-container>
                                <ng-container matColumnDef="postal_code">
                                    <th mat-header-cell *matHeaderCellDef> Post Code </th>
                                    <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
                                </ng-container>
                                <ng-container matColumnDef="addressone">
                                    <th mat-header-cell *matHeaderCellDef> Address 1 </th>
                                    <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
                                </ng-container>
                                <ng-container matColumnDef="addresstwo">
                                    <th mat-header-cell *matHeaderCellDef> Address 2 </th>
                                    <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
                                </ng-container>
                                <ng-container matColumnDef="taxonomy">
                                    <th mat-header-cell *matHeaderCellDef> Taxonomy </th>
                                    <td mat-cell *matCellDef="let element"> {{element.taxonomy}} </td>
                                </ng-container>


                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> Details </th>
                                    <td style="cursor: pointer!important;" mat-cell *matCellDef="let element"
                                        (click)="expandedElement = element; ">
                                        <mat-icon
                                            [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                                            add
                                        </mat-icon>
                                        <mat-icon
                                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                            remove
                                        </mat-icon>
                                    </td>
                                </ng-container>







                                <ng-container matColumnDef="expandedDetail">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                        <div class="example-element-detail"
                                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                            <div style="width: 100%; padding: 0px 0px 25px 0px;">


                                                <div style="margin-top: 1rem;">
                                                    <mat-accordion>
                                                        <mat-expansion-panel (opened)="panelOpenState = true;"
                                                            (closed)="panelOpenState = false">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Uploaded Files
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                                                            <div>
                                                                <table class="table-100 table">
                                                                    <tr>
                                                                        <th>Display Name</th>
                                                                        <th>Create On</th>
                                                                        <th>Action</th>
                                                                    </tr>



                                                                    <tr *ngFor="let file of filleList">

                                                                        <td>{{file.file_displayname}}</td>
                                                                        <td>{{file.create_on | date: 'MMM d, y'}}</td>

                                                                        <td>

                                                                            <span
                                                                                (click)="deletePatientProviderFile(file.upiid)"
                                                                                style="color:red;cursor: pointer;text-decoration: underline;margin-right:6px">{{deleteBtn}}</span>

                                                                            /<span
                                                                                (click)="archivePatientProviderFile(file.upiid)"
                                                                                style="color:rgb(28, 24, 245);cursor: pointer;text-decoration: underline;margin-left:6px">{{archiveBtn}}</span>


                                                                        </td>
                                                                    </tr>


                                                                    <tr *ngIf="filleList.length==0">
                                                                        <td colspan="4"
                                                                            style="text-align: center;color:red;font-size: 16px;margin-top:20px;">
                                                                            File is not available.</td>
                                                                    </tr>


                                                                </table>
                                                            </div>
                                                        </mat-expansion-panel>

                                                    </mat-accordion>


                                                    <div style="margin-top: 30px;">

                                                        <input id="cin" name="cin" type="file" accept=".csv"
                                                            (change)="fileUploadEvent($event)"
                                                            placeholder="Upload a file..." multiple />

                                                        <button mat-raised-button color="primary" id="lbl" type="submit"
                                                            (click)="upload()"> {{UploadText}}</button>


                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <th style="text-align: center;
                                    color: red;" mat-footer-cell *matFooterCellDef colspan="8"> {{noRecordFond}} </th>
                                </ng-container>


                                <tr mat-header-row="let row;" *matHeaderRowDef="displayedColumns"></tr>
                                <tr (click)="getproviderId(row.pid)" mat-row
                                    *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                                    [class.example-expanded-row]="expandedElement === row">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                    class="example-detail-row">
                                </tr>
                                <tr mat-footer-row *matFooterRowDef="['noData']"
                                    [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>

                            </table>
                        </div>





                    </div>
                </mat-card>
            </div>
        </div> -->
</div>


<!----RMPA Dash Ends-->