<div>
    <div class="profile-container topCotainer">
        <form [formGroup]="userProfileForm" (ngSubmit)="addUser()">
                 <!-- container background color -->
            <mat-card class="cardContainer" style="background-color: #d7fcf5;box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.25);border-radius: 1em;">
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-bottom: 50px;">
                         <!-- page heading color -->
                        <span style="font-size: 1.5rem; font-weight: 900; color:#227f77;"> User Profile</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>Username</mat-label>

                                    <input formControlName="username" matInput placeholder="Please enter username"
                                        readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>System Id</mat-label>
                                    <input formControlName="id" matInput placeholder="System Id" [disabled]="systemId"
                                        readonly>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>First Name</mat-label>
                                    <input formControlName="first_name" matInput placeholder="Please enter first name"
                                        required>
                                    <mat-error
                                        *ngIf="!userProfileForm.controls.first_name.valid && userProfileForm.controls['first_name'].touched">
                                        <span class="errorColor"
                                            *ngIf="userProfileForm.controls.first_name.errors?.required">
                                            First Name is required.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="last_name" matInput placeholder="Please enter last name"
                                        required>
                                    <mat-error
                                        *ngIf="!userProfileForm.controls.last_name.valid && userProfileForm.controls['last_name'].touched">
                                        <span class="errorColor"
                                            *ngIf="userProfileForm.controls.last_name.errors?.required">
                                            Last Name is required.
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <input hidden type="file" formControlName="imageUrl" #uploader
                            (change)="fileProgress($event)" />
                            <!-- added border raious for circle profile image -->
                        <img *ngIf="!previewFlag"
                            style="border-top-left-radius: 5px; border-top-right-radius: 5px; border:1.5px dashed #9e9e9e; border-bottom: 0px; cursor: pointer;"
                            src="{{basePath}}profile-image/{{usr_id}}" height="100" width="100" style="border-radius: 50%;" 
                            matTooltip="Click to browse.." matTooltipPosition="above" (click)="uploader.click()">
                            <!-- added border raious for circle profile image -->
                        <img *ngIf="previewFlag" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"
                            [src]="previewUrl" height="100" width="100" style="border-radius: 50%;"  (click)="uploader.click()">
                            <div class="Sp"></div>
                       <!-- upload icon added in place of button -->
                        <button
                        style="width:10px; background-color:transparent; color: #227f77;"
                        mat-button type="button" (click)="upload()"><span style="font-size: 12px;"><mat-icon>cloud_upload</mat-icon></span></button>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>E-Mail</mat-label>
                            <input formControlName="email" matInput placeholder="Please enter personal email" required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.email.valid && userProfileForm.controls['email'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.required">
                                    E-Mail is required.
                                </span>
                                <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.email">
                                    E-mail must be entered valid.
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>



                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>Phone No.</mat-label>

                            <input formControlName="phone_number" matInput placeholder="Please enter phone No."
                                required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.phone_number.valid && userProfileForm.controls['phone_number'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.phone_number.errors?.required">
                                    Phone No. is required.
                                </span>
                                <span class="errorColor"
                                    *ngIf="userProfileForm.controls.phone_number.errors?.maxlength">
                                    Phone No. must be maximum 12 digits.
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>NPI</mat-label>
                            <input formControlName="npi" matInput placeholder="Please enter NPI No." required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.npi.valid && userProfileForm.controls['npi'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.npi.errors?.required">
                                    NPI No. is required.
                                </span>

                            </mat-error>
                        </mat-form-field>
                    </div>



                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>Adress One</mat-label>

                            <input formControlName="address1" matInput placeholder="Please enter address one" required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.address1.valid && userProfileForm.controls['address1'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.address1.errors?.required">
                                    Address. is required.
                                </span>

                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>Adress Two</mat-label>

                            <input formControlName="address2" matInput placeholder="Please enter address two">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">

                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state_id">
                                <mat-option *ngFor="let item of usaStateList" value="{{item.abbreviation}}"
                                    title="{{item.abbreviation}}">
                                    {{item.abbreviation}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>




                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>ZIP</mat-label>
                            <input formControlName="zipcode" matInput placeholder="Please enter zip" required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.zipcode.valid && userProfileForm.controls['zipcode'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.zipcode.errors?.required">
                                    zip code is required.
                                </span>
                            </mat-error>

                        </mat-form-field>
                    </div>

                    <div class="col-md-6">

                        <mat-form-field appearance="outline" class="form-100">
                            <mat-label>Fax No</mat-label>
                            <input formControlName="fax_number" matInput placeholder="Please enter zip" required>
                            <mat-error
                                *ngIf="!userProfileForm.controls.fax_number.valid && userProfileForm.controls['fax_number'].touched">
                                <span class="errorColor" *ngIf="userProfileForm.controls.fax_number.errors?.required">
                                    Fax No. is required.
                                </span>
                            </mat-error>

                        </mat-form-field>
                    </div>
                </div>








                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12 text-center">
                        <!-- button size and font reduced-->
                        <button [disabled]="!userProfileForm.valid" style="width: 100px;height: 30px;
                                                  ;background-color: #227f77;color: #ffffff; font-size: 16px; "
                            mat-flat-button color="primary" type="submit">{{updateBtn}}</button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>