.hdTile{
  text-align: center!important;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 400;
}

.systemName{
font-size:20px;
color:#007bff!important
}

hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.data-source-select-box {
  width: 300px;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}

.active-box {
  background-color: #e8f5e9;
  border: 2px dashed #00b07c;
}

.hs-expansion-panel{
  background: #e8fcfa;
}
/* color to font form and title  */
.font-bold, .mat-card-title , .form-100 {
  color:#227f77;
}
/* internal text color */
.InternalText{
  color: #585858;
}
/* form color */
.mat-form-field {
color: #585858;
}
