<div class="main-container">


  <!-- Request a Health System focusout -->
  <mat-card class="request-health-system">
    <mat-card-title class="text-center ">Find Your Patient Portal</mat-card-title>
    <div style="margin-top: 1rem">
      <form>
        <mat-form-field class="form-100">
          <mat-label>Enter the name of the health system you would like to see supported.</mat-label>
          <input (input)="searchFilter($event.target.value)" matInput #orgname>
          <mat-icon (click)="searchFilter($event.target.value)" matSuffix style="cursor: pointer;">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="text-left" style="margin-top:-10px!important;">
      <span style="text-decoration: underline;text-align: center;color: #1492f8;font-size:14px">
        <a class="cursor-pointer" (click)="goToSelectDataSource()">Don't see your health system? Send a request for your
          health system</a>

      </span>
    </div>


    <div class="text-center margin-top-15" style="font-size:20px;color:red;text-align: center;"
      *ngIf="records.length==0 ">
      {{dataFoundMessage}}
    </div>




    <div *ngIf="records.length > 0" class="margin-top-15">
      <div>
        <!-- <div class="box-container-health-systam" (click)="showHeathSubmitAccordion()">
          <span>{{item.basic.organization_name}}</span><br>
          <span>{{item.addresses[0].address_1}}, {{item.addresses[0].address_2}},
            {{item.addresses[0].city}}, {{item.addresses[0].state}}</span><br>
          <span>{{item.number}}</span>
        </div>
        <div *ngIf="heathSubmitAccordion" class="box-accordion-container">
          <button mat-flat-button class="button-success">
            Submit
          </button>
        </div> -->
        <mat-accordion>
          <mat-expansion-panel style="padding-top:8px!important;padding-bottom:8px!important"
            *ngFor="let rcd of records | paginate: { itemsPerPage: 10, currentPage: p }" class="hs-expansion-panel"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
           
            <mat-expansion-panel-header class="hs-expansion-panel-header">
           
              <mat-panel-title>
                <div class="row">
                  <div class="col-md-2 text-center"  *ngIf="rcd.resource.extension[0].valueUri!=null"><img src="{{rcd.resource.extension[0].valueUri}}" style="height: 65px;
                     width: 65px;
                     border: 1px solid #e0e0de;
                     box-shadow: 2px 1px 1px #ececea;" /></div>

                       <div class="col-md-2 text-center" *ngIf="rcd.resource.extension[0].valueUri==null"><img src="../../../assets/img/health.png" style="height: 65px;
                         width: 65px;
                         border: 1px solid #e0e0de;
                         box-shadow: 2px 1px 1px #ececea;"/>
                         </div>



                  <div class="col-md-10 remove-col-padding-left">
                    <div style="font-size: 16px;
                     font-weight: 500;
                     color: #0074d0;"><span class="font-bold">{{rcd.resource.name}}</span></div>
                    <div><span class="InternalText">{{rcd.resource.address[0].city}}, {{rcd.resource.address[0].state}}</span></div>

                  </div>
                </div>
                <!--  <div>{{item.number}}</div> -->
              </mat-panel-title>
          
            </mat-expansion-panel-header>
            <button mat-flat-button (click)="redictOneUPWeb(rcd.identifierKey)" class="button-success">Confirm</button>
        
          </mat-expansion-panel>
        </mat-accordion>


      </div>
      <div class="text-center" style="margin-top: 30px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>


  </mat-card>
  <!-- Request a Heath System Ends-->
</div>