<div class="main-container">
  <mat-card class="min-height-100">
    <div class="flex-container">
      <div>
        <mat-icon class="material-icons">person</mat-icon>
        <mat-card-title class="card-main-title font-700">Practitioners</mat-card-title>
      </div>

    </div>

    <div class="margin-top-15">
      <div class="row" style="margin-right: 1px;">
        <div class="col-md-4 col-sm-12 remove-col-padding-right" *ngFor="let item of practitionerRecord">
          <mat-accordion>
            <mat-expansion-panel class="remove-box-shadow main-accordion  accordion-spacer"
              (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex-container width-100">
                  <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">{{item.title | titlecase}}
                  </h4>
                  <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">
                    {{item.subtitle | titlecase}}</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="width-100">
                <tr *ngFor="let field of item.fieldRecords ">
                  <th class="width-50 mob-width-70">{{field.name}}</th>
                  <td class="width-50 mob-width-30">{{field.value}}</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>


    </div>
  </mat-card>
</div>