
<div class="row" >
    <div class="col-12 col-md-12 col-xs-12 col-lg-12" style="background-color:#607D8B;height:65px;">
        <span class="logoText">Curamei</span>
      </div>
  </div>
  <div class="row" >
    <div class="col-12 col-md-8 col-xs-12 col-lg-8" style="position:relative;margin: 0px auto;top:75px">
      <div class="card cardCustom">
        <div class="card-body text-center">
          
            <div class=""  *ngIf="msuccess">
            <div style="text-align: center;margin-top: -15px;
            margin-bottom: 27px;font-family: Lato,sans-serif!important;
            letter-spacing: 1px;"><img src="../../../../assets/img/correct.png" height="55px" width="55px"> 
          <br/>
          <div class="success">Your account has been activated, you can now signIn.</div>
            </div>
          </div>



          <div class=""  *ngIf="Tinvalid">
              <div style="text-align: center;margin-top: -15px;
              margin-bottom: 27px;font-family: Lato,sans-serif!important;
              letter-spacing: 1px;"><img src="../../../../assets/img/error.png" height="45px" width="45px"> 
            <br/>
            <div class="error">The url is either invalid or you already have activated your account.</div>
              </div>
            </div>

            <a  routerLink="/signin" class="linkTag" style="font-size: 16px;margin-top:-20px;
            font-weight: 500;">Click for Sign In </a>
    
         </div>
         </div>

        </div>
      </div>