 /* .sidenav_container{
  margin-top:30px;
}
.app-sidenav{
  background-color: #00d9c8;
border-radius: 0px 30px 0px 0px ; 
border-color:white;

}
.sidebar-icon-text{
background-color: #00d9c8;
color:white;
}
 
.sidebar-icon-text:hover{
 background-color:white;
 color: #227f77;
 border-radius: 50px 0px 0px 50px ; 
 width:300px;
 margin-left:20px;

}

.home{
background-color: #00d9c8;
color:white;
font-size:20px;

}

.home:hover{
  background-color:white;
color: #227f77 !important;
 border-radius: 50px 0px 0px 50px ; 
 margin-left:20px;
}

.plus-icon{
font-size:15px;
color:#00d9c8;
 margin-bottom:10px;
  font-weight: bold;
}

.mat-icon-color{
    Color: #227f77 ; 
    } */
    
    
     /* added focus to remove the outline of sidenav and topheader  */
    :focus {
      outline: none; 
      
      }
  
  