
<div class="main-container">
  <!-- container size 150 -->
  <mat-card class="min-height-150">
    <div class="flex-container">
      <div style="width: 85%;">
        <mat-icon class="material-icons">medical_services</mat-icon>
        <mat-card-title class="card-main-title font-700">Share Resource</mat-card-title>
      </div>
     
    </div>
   
    <form [formGroup]="patientResourceShareForm" (ngSubmit)="onSubmit()" novalidate>
       <div class="row" style="margin-top:50px;clear:both;">
       
             <div class="col-md-4">
                <mat-form-field class="remove-padding-bottom" style="width:100%!important" appearance="outline">
                    <mat-label>Provider</mat-label>
                    <mat-select  formControlName="providerName" required>
                      <mat-option>-- Select Provider --</mat-option>
                      <mat-option *ngFor="let pList of providerList" [value]="pList.pid" > {{pList.full_name }} | {{pList.npi}}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="!patientResourceShareForm.controls['providerName'].valid && patientResourceShareForm.controls['providerName'].touched">
                    Please Select Provider Name
                </mat-error>
                  </mat-form-field>
             </div>

             <div class="col-md-4">
                <mat-form-field class="remove-padding-bottom" style="width:100%!important" appearance="outline">
                    <mat-label>Sharing Resource</mat-label>
                    <mat-select  formControlName="ResourceName" required>
                      <mat-option>-- Select Sharing Resource --</mat-option>
                      <mat-option *ngFor="let rList of ResouceData" [value]="rList.resource_id" > {{rList.resource_name}}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="!patientResourceShareForm.controls['ResourceName'].valid && patientResourceShareForm.controls['ResourceName'].touched">
                    Please Select Resource Name
                </mat-error>
                  </mat-form-field>
             </div>
             <div class="col-md-2">
               <div style="margin-top:-30px!important">
                <button 
                [disabled]="!patientResourceShareForm.controls.providerName.valid || !patientResourceShareForm.controls.ResourceName.valid" style="margin-top:35px!important;padding:2px;" class=" login-button width-100 " type="submit" mat-flat-button>
                  {{buttonText}}
              </button>
               </div>
             
        </div>
           
       </div>
      </form>

       <div class="row row-divider">
        <div class="col-md-12">
  
                  <!-- <div class="row">
                    <div class="col-md-6">
                        <h2 style="padding:15px; margin-bottom: 0rem;" class="font-heading">Data Sharing Permission</h2>
                    </div>
                    <div  class="col-md-6">
                      <div  (click)="ToggleForm()">
                        <button mat-mini-fab color="primary" style="float:right!important" aria-label="Example icon button with a delete icon">
                          <mat-icon>{{IconName}}</mat-icon>
                        </button>
                      </div>


                      
                      
                    </div>
                   <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Advance Search</mat-label>
                            <input matInput (focusout)="applyFilter()"  [(ngModel)]="emailFilter"  placeholder="Email">
                            <mat-icon (click)="applyFilter()" matSuffix style="cursor: pointer;">search</mat-icon>
                        </mat-form-field>

                    </div> 
         
                </div> -->
                <div class="row">
                    <div class="col-md-12 table-container">
                        <table mat-table [dataSource]="dataSource"
                            class="mat-elevation-z8 table-100">

                            <ng-container matColumnDef="provider_name">
                                <th mat-header-cell *matHeaderCellDef> Provider</th>
                                <td mat-cell *matCellDef="let element">{{element.fullname}} </td>
                            </ng-container>

                            <ng-container matColumnDef="resource_name">
                                <th mat-header-cell *matHeaderCellDef> Resource Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.resource_name}} </td>
                            </ng-container>

                           
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef > Action </th>
                                <td style="cursor: pointer!important;" mat-cell *matCellDef="let element">
                                  <button mat-icon-button (click)="deletepatientResourceSharing(element.pat_prov_id)">
                                    Revoke
                                  </button>
                                   
                                </td>
                            </ng-container>
 
                        
                            <ng-container matColumnDef="noData">
                                <th style="text-align: center;
                                                      color: red;" mat-footer-cell *matFooterCellDef colspan="5"> {{noRecordFondResourceSharing}} </th>
                              </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
            >
                            </tr>
                          
                            <tr mat-footer-row *matFooterRowDef="['noData']"
                            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>
                        </table>
                    </div>
                </div>
  
        </div>

    </div>
  
  </mat-card>
</div>