.green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }

  .loadingHide {
    display: none;
  }
  /* table head color */
  th{
    font-size: medium;
    background-color:#d7fcf5;
    color:#00c7b0;
  }
  /* title color */
  .mat-card-title{
    color:#227f77 ;
  }
  /* icons color */
  .mat-icon{
    color: #227f77 !important;
    
  }
  /*.row{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  