<div class="content">
    <div class="container">
    <div class="row"  style="margin-top:90px;">
 
                <div class="col-lg-12 col-md-12" >
                    <div class="card cardCustom" style="border: 1px solid #9a9999;">
                       

                        <div class="card-body">
                            <div class="row"  >
                            <div class="col-lg-3 col-md-3"  ></div>
                            <div class="col-lg-6 col-md-6">
                            <div style="margin-top:80px;">
                               
                                <p class="hdTitle1">Connecting Providers</p>
                                <p class="para"> 
                                    Now time to connect your with providers
                                    so that you can show them your profile and improve
                                    quality of care.</p>
                                   <div class="form-group" style="margin-top:40px;text-align: center!important;justify-content: center;justify-items: center">       
                                       <button  class="btn btn-primary">Add Provider</button>
                                   </div>
                            </div>
                        </div>
                            <div class="col-lg-3 col-md-3"  ></div>
                        </div>
                        </div>







                      
                        <div style="text-align:center;margin-top:40px; margin-bottom: 20px;">
                            <button  (click)="onSubmitPrev()" mat-raised-button color="accent">Back</button> 
                            <span style="margin-left:60px;"></span>
                            <span class="step" (click)="RadioClick1()"></span>
                            <span class="step"  (click)="RadioClick2()"></span>
                            <span class="step"  (click)="RadioClick3()"></span>
                            <span class="step stepColor"  (click)="RadioClick4()"></span>
                            <span class="step"  (click)="RadioClick5()"></span>
                            <span style="margin-left:60px;"></span>
                            <button  (click)="onSubmitNext()" mat-raised-button color="primary">Next</button> 
                          </div>
                          
                    </div>
                </div>

                
       
            <div class="col-md-12 footer"></div>
          </div>



    </div>
</div>
   
