<div class="main-container">
  <div class="min-height-150 mobile-min-height-88">
    <mat-card class="select-data-source text-center">
      <mat-card-title>Select data type source type</mat-card-title>
      <div class="row">
        <div class="col-md-12">
          <div class="box-container-layout">


            <div id="patientPortal" (click)="selectPatientPortal()"
              class="box-container text-center data-source-select-box" style="margin-right: 15px">
              <img class="patient-portal-select-img" src="../../../assets/images/provider/login.svg">
              <h2 class="mat-h2 mat-heading">Patient Portal Connection</h2>
              <p class="hide-in-mobile-screen">Pull electronic medical record data using login informaion on one of the
                many supported health system.
              </p>
            </div>
            <div id="fileUpload" (click)="selectFileUpload()" class="box-container  text-center data-source-select-box">
              <img class="file-upload-select-img" src="../../../assets/images/provider/save.svg">
              <h2 class="mat-h2 mat-heading">Manual Upload</h2>
              <p class="hide-in-mobile-screen">Upload image, video, or documents that could help provide more
                information
                on your health.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button mat-flat-button class="button-150" color="primary" (click)="backToAddSource()">Back</button>
        <button mat-flat-button class="button-success button-150 button-spacing"
          (click)="clickContinue()">Continue</button>
      </div>
    </mat-card>
  </div>
</div>