/* active box color */
.active-box {
  background-color: white !important;
  /* border: 2px dashed #00b07c; */
}

hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.data-source-select-box {
  width: 300px;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}
/* .box-container.active-box{
  background-color: white;
} */
/* color of heading */
.mat-h2{
  /* text-align: center; */
  color:#227f77;
 
}
/* box shadow to container */
.box-container{
  -webkit-box-shadow: -8px 10px 26px -4px rgba(116,222,171,1);
-moz-box-shadow: -8px 10px 26px -4px rgba(116,222,171,1);
box-shadow: -8px 10px 26px -4px rgba(116,222,171,1);
  background-color:#e8fcfa;
  margin-left: 40px;

}
/* mat cart title color */
::ng-deep.mat-card-title{
  text-align: center;
  color:#227f77;
  
}
.hide-in-mobile-screen{
  color:gray;
}
/* color to paitent portal image */
.patient-portal-select-img{
  color:#227f77;
}
/* background color of non selected boxes */
.select-data-source{
  background-color:#d7fcf5;
}