/* icon heading and title */
.mat-icon, h2, .mat-card-title,  .material-icons{
    color: #227f77 !important;
    
  }
  /* h2{
    color: #227f77;
  }
  
  .mat-card-title{
    color:#227f77 ;
  } */
  .mat-card-subtitle{
    color: white;
  }
  .cardContainer{
    background-color: rgb(255, 255, 255);
  }
  
  /* .material-icons{
 
    color:#227f77 ;
  } */
  
  
    
  .mat-expansion-panel{
    background-color: rgb(238, 255, 249);
  }
    