<mat-progress-bar value={{progessValue}}></mat-progress-bar>

<div class="main-container" style="min-height: 100%;">
  <!-- card size 150 -->
  <mat-card class="min-height-150">
    <div *ngIf="addFlag">
      <div class="flex-container">
        <div style="width: 85%;">
          <mat-icon class="material-icons">medical_services</mat-icon>
          <mat-card-title class="card-main-title font-700">Manual Medical Records
          </mat-card-title>
        </div>
        <div class="hide-in-large-screen float-right">
          <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Sort By :</h4>
            <button mat-menu-item>Record Type</button>
            <button routerLink="/patient/medical-records" mat-menu-item>OneUp Medical Record</button>
          </mat-menu>
        </div>
      </div>
      <div class="sort-select-form hide-in-mobile-screen">
        <!-- <mat-form-field class="remove-padding-bottom" appearance="outline">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option>-- select option --</mat-option>
            <mat-option value="option1">Record Type</mat-option>
            <mat-option routerLink="/patient/medical-records" value="option2">OneUp Medical Record</mat-option>
          </mat-select>
        </mat-form-field> -->
        <button routerLink="/patient/medical-records" matTooltip="Go to OneUp Medical Record" matTooltipPosition="left" mat-menu-item style="color: #0023e2;text-decoration: underline;">OneUp Medical Record</button>

      </div>
    </div>
    <!-- Add Manual Record Accordion  Start Here-->

    <div class="margin-top-30">
      <mat-accordion>

        <form [formGroup]="newPatientForm" (ngSubmit)="createNewPatient()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Patient</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button *ngIf="!ifManualPatientExist" type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row" *ngIf="!ifManualPatientExist">
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="patientName" formControlName="name" placeholder="Name">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" [(ngModel)]="patientGender">
                    <mat-option *ngFor="let gender of genders" [value]='gender.name'>
                      {{gender.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Date od Birth</mat-label>
                  <input formControlName="birthDate" [(ngModel)]="patientBirthDate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Martial Status</mat-label>
                  <mat-select formControlName="maritalStatus" [(ngModel)]="patientMartialStatus">
                    <mat-option *ngFor="let status of martial_status" [value]='status.name'>
                      {{status.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Address</mat-label>
                  <textarea formControlName="address" [(ngModel)]="patientAddress" matInput placeholder="Address"
                    rows="3"></textarea>
                </mat-form-field>
              </div>

            </div>
            <div class="row" *ngIf="ifManualPatientExist">
              <div class="col-md-12">
                Patient Status: <span class="badge badge-success" title="Patient is created">Active</span>
              </div>
            </div>
          </mat-expansion-panel>
        </form>

        <form [formGroup]="conditionForm" (ngSubmit)="addConditionRecord()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Conditions</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-6 col-sm-12 remove-col-padding-right">
                <mat-accordion>

                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="margin: 10px 0px">
                      <mat-panel-title class="flex-container width-100">
                        <div class="width-50" style="padding: 0 15px 0px 0px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Code</mat-label>
                            <input matInput [(ngModel)]="condtionCode" formControlName="code" placeholder="Enter Code">
                          </mat-form-field>
                        </div>
                        <div class=" width-50" style="padding: 0 15px 0px 15px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" [(ngModel)]="condtionCategory">
                              <mat-option *ngFor="let category of condition_category" value="{{category.name}}">
                                {{category.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr>
                        <th class="width-50 mob-width-70">Clinical Status</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Clinical Status</mat-label>
                            <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                            <mat-select formControlName="status" [(ngModel)]="condtionStatus">
                              <mat-option *ngFor="let status of condition_status" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Verification Status</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Clinical Status</mat-label>
                            <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                            <mat-select formControlName="verificationStatus" [(ngModel)]="condtionVerificationStatus">
                              <mat-option *ngFor="let status of condition_verification" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Stage Summary</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Stage Summary</mat-label>
                            <input formControlName="stageSummary" [(ngModel)]="condtionStageSummary" matInput
                              placeholder="Enter Stage Summary">
                            <!-- <mat-select formControlName="stageSummary" [(ngModel)]="condtionStageSummary">
                              <mat-option *ngFor="let criticality of allergy_criticality" value="{{criticality.name}}">
                                {{criticality.name}}</mat-option>
                            </mat-select> -->
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Abatement</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Abatement</mat-label>
                            <input matInput formControlName="abatement" [(ngModel)]="abatement"
                              [matDatepicker]="pickerDateAbatement">
                            <mat-datepicker-toggle matSuffix [for]="pickerDateAbatement"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDateAbatement></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-expansion-panel>
        </form>

        <form [formGroup]="allergyForm" (ngSubmit)="addAllergyRecord()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Allergies</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-6 col-sm-12 remove-col-padding-right">
                <mat-accordion>

                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="margin: 10px 0px">
                      <mat-panel-title class="flex-container width-100">
                        <div class="width-50" style="padding: 0 15px 0px 0px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Substance</mat-label>
                            <input matInput [(ngModel)]="allergySubstance" formControlName="substance"
                              placeholder="Enter Substance">
                          </mat-form-field>
                        </div>
                        <div class=" width-50" style="padding: 0 15px 0px 15px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" [(ngModel)]="allergyCategory">
                              <mat-option *ngFor="let category of allergy_category" value="{{category.name}}">
                                {{category.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr>
                        <th class="width-50 mob-width-70">Status</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Status</mat-label>
                            <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                            <mat-select formControlName="status" [(ngModel)]="allergyStatus">
                              <mat-option *ngFor="let status of allergy_status" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Criticality</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Criticality</mat-label>
                            <!-- <input formControlName="criticality" matInput placeholder="Enter Criticality"> -->
                            <mat-select formControlName="criticality" [(ngModel)]="allergyCriticality">
                              <mat-option *ngFor="let criticality of allergy_criticality" value="{{criticality.name}}">
                                {{criticality.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Type</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Type</mat-label>
                            <input matInput [(ngModel)]="allergyType" formControlName="type"
                              placeholder="Enter Type">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Note</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Note</mat-label>
                            <input matInput [(ngModel)]="allergyNote" formControlName="note"
                              placeholder="Enter Note">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-expansion-panel>
        </form>

        <form [formGroup]="observationForm" (ngSubmit)="addObservationRecord()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Observations</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-6 col-sm-12 remove-col-padding-right">
                <mat-accordion>

                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="margin: 10px 0px">
                      <mat-panel-title class="flex-container width-100">
                        <div class="width-50" style="padding: 0 15px 0px 0px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Code</mat-label>
                            <input matInput [(ngModel)]="obsevationCode" formControlName="code"
                              placeholder="Enter Code">
                          </mat-form-field>
                        </div>
                        <div class=" width-50" style="padding: 0 15px 0px 15px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Category</mat-label>
                            <input matInput [(ngModel)]="observationCategory" formControlName="category"
                              placeholder="Enter Category">
                          </mat-form-field>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr>
                        <th class="width-50 mob-width-70">Status</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Status</mat-label>
                            <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                            <mat-select formControlName="status" [(ngModel)]="observationStatus">
                              <mat-option *ngFor="let status of observation_status" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">BodySite</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>BodySite</mat-label>
                            <input matInput [(ngModel)]="observation_bodySite" formControlName="body_site"
                              placeholder="Enter BodySite">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Method</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Method</mat-label>
                            <input matInput [(ngModel)]="observation_method" formControlName="method"
                              placeholder="Enter Method">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Encounter</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Encounter</mat-label>
                            <mat-select formControlName="encounter" [(ngModel)]="observationEncounter">
                              <mat-option *ngFor="let enc of encounters" value="{{enc.id}}">
                                {{enc.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <!-- <tr>
                        <th class="width-50 mob-width-70">Effective DateTime</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Effective DateTime</mat-label>
                            <input matInput formControlName="effectiveDateTime" [(ngModel)]="observationDateTime"
                              [matDatepicker]="pickerOne">
                            <mat-datepicker-toggle matSuffix [for]="pickerOne"></mat-datepicker-toggle>
                            <mat-datepicker #pickerOne></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </tr> -->
                      <tr>
                        <th class="width-50 mob-width-70">Value Quantity</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Value Quantity</mat-label>
                            <input formControlName="quantity" [(ngModel)]="observationQuantity" matInput
                              placeholder="Enter Qunatity">

                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Data Absent Reason</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Data Absent Reason</mat-label>
                            <input matInput [(ngModel)]="observation_absent_reason" formControlName="absent_reason"
                              placeholder="Enter Absent Reason">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Reference Range</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Reference Range</mat-label>
                            <input matInput [(ngModel)]="observation_reference_range" formControlName="reference_range"
                              placeholder="Enter Reference Range">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Comments</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Comments</mat-label>
                            <input matInput [(ngModel)]="observation_comments" formControlName="comment"
                              placeholder="Enter Comments">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-expansion-panel>
        </form>

        <form [formGroup]="immunizationsForm" (ngSubmit)="addImmunizationRecord()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Immunizations</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-6 col-sm-12 remove-col-padding-right">
                <mat-accordion>

                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="margin: 10px 0px">
                      <mat-panel-title class="flex-container width-100">
                        <div class="width-50" style="padding: 0 15px 0px 0px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Vaccine Code</mat-label>
                            <input matInput [(ngModel)]="immunizationVaccineCode" formControlName="vaccineCode"
                              placeholder="Enter Vaccine Code">
                          </mat-form-field>
                        </div>
                        <div class=" width-50" style="padding: 0 15px 0px 15px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Status</mat-label>
                            <!-- <input matInput [(ngModel)]="immunizationStatus" formControlName="status"
                              placeholder="Enter Status"> -->
                            <mat-select formControlName="status" [(ngModel)]="immunizationStatus">
                              <mat-option *ngFor="let status of immnuization_status" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr>
                        <th class="width-50 mob-width-70">Date</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Date</mat-label>
                            <input matInput formControlName="date" [(ngModel)]="immunizationDate"
                              [matDatepicker]="pickerTwo">
                            <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTwo></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Route</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Route</mat-label>
                            <input matInput [(ngModel)]="immunizationRoute" formControlName="route"
                              placeholder="Enter Route">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Site</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Site</mat-label>
                            <input matInput [(ngModel)]="immunizationSite" formControlName="site"
                              placeholder="Enter Site">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Targen Disease</th>
                        <td class="width-50 mob-width-30">
                        <mat-form-field appearance="standard" class="form-100">
                          <mat-label>Targen Disease</mat-label>
                          <mat-select formControlName="disease" [(ngModel)]="immunizationDisease">
                            <mat-option *ngFor="let disease of immnuization_Disease" value="{{disease.name}}">
                              {{disease.name}}</mat-option>
                          </mat-select>
                          <!-- <input formControlName="reported" [(ngModel)]="immunizationReported" matInput
                            placeholder="Enter Reported"> -->

                        </mat-form-field>
                      </td>
                      </tr>
                    </table>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-expansion-panel>
        </form>


        <form [formGroup]="medicationForm" (ngSubmit)="addMedicationRecord()">
          <mat-expansion-panel class="box-shadow main-accordion accordion-spacer"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">Medications</h2>
              </mat-panel-title>
              <mat-panel-description *ngIf="addFlag">
                <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
                  class="medical-record-accordion-button" mat-button>
                  <mat-icon>save</mat-icon>
                </button>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-6 col-sm-12 remove-col-padding-right">
                <mat-accordion>

                  <mat-expansion-panel class="box-shadow inner-accordion  accordion-spacer"
                    (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="margin: 10px 0px">
                      <mat-panel-title class="flex-container width-100">
                        <div class="width-50" style="padding: 0 15px 0px 0px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Medication</mat-label>
                            <input matInput [(ngModel)]="medicationsMedication" formControlName="medication"
                              placeholder="Enter Medication">
                          </mat-form-field>
                        </div>
                        <div class=" width-50" style="padding: 0 15px 0px 15px;">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage</mat-label>
                            <input matInput [(ngModel)]="medicationsDosage" formControlName="dosage"
                              placeholder="Enter Dosage Text">

                          </mat-form-field>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="width-100">
                      <tr>
                        <th class="width-50 mob-width-70">Status</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Status</mat-label>
                            <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                            <mat-select formControlName="status" [(ngModel)]="medicationsStatus">
                              <mat-option *ngFor="let status of medication_status" value="{{status.name}}">
                                {{status.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Date Asserted</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Date Asserted</mat-label>
                            <input matInput formControlName="dateAsserted" [(ngModel)]="medicationsDateAsserted"
                              [matDatepicker]="pickerDateAsserted">
                            <mat-datepicker-toggle matSuffix [for]="pickerDateAsserted"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDateAsserted></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Reason For Use</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Reason For Use</mat-label>
                            <!-- <mat-select formControlName="reasonForUse" [(ngModel)]="medicationsReasonForUse">
                              <mat-option *ngFor="let reported of immnuization_reported" value="{{reported.name}}">
                                {{reported.name}}</mat-option>
                            </mat-select> -->
                            <input formControlName="reasonForUse" [(ngModel)]="medicationsReasonForUse" matInput
                              placeholder="Enter Reason for use">

                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Dosage Timing</th>
                        <td class="width-50 mob-width-30">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field appearance="standard" class="form-100">
                                <mat-label>Timing</mat-label>
                                <mat-select formControlName="dosageTiming" [(ngModel)]="medicationsDosageTiming">
                                  <mat-option *ngFor="let timing of medication_timing" value="{{timing.name}}">
                                    {{timing.name}}</mat-option>
                                </mat-select>
                                <!-- <input formControlName="reported" [(ngModel)]="immunizationReported" matInput
                                                                                                                        placeholder="Enter Reported"> -->

                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="standard" class="form-100">
                                <mat-label>Meridian</mat-label>
                                <mat-select formControlName="dosageTimingMeridian"
                                  [(ngModel)]="medicationsDosageTimingMeridian">
                                  <mat-option *ngFor="let meridian of medication_meridian" value="{{meridian.name}}">
                                    {{meridian.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <tr>
                        <td> -->

                        </td>
                        <!-- <td style="width: 100px">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Meridian</mat-label>
                            <mat-select formControlName="dosageTimingMeridian"
                              [(ngModel)]="medicationsDosageTimingMeridian">
                              <mat-option *ngFor="let meridian of medication_meridian" value="{{meridian.name}}">
                                {{meridian.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td> -->
                      </tr>

                      <!-- </td>
                      </tr> -->
                      <tr>
                        <th class="width-50 mob-width-70">Dosage Needed</th>
                        <td class="width-50 mob-width-30">

                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Needed</mat-label>
                            <mat-select formControlName="daosageNeeded" [(ngModel)]="medicationsDaosageNeeded">
                              <mat-option *ngFor="let needed of medication_needed" value="{{needed.name}}">
                                {{needed.name}}</mat-option>
                            </mat-select>
                            <!-- <input formControlName="reported" [(ngModel)]="immunizationReported" matInput
                                                                                  placeholder="Enter Reported"> -->

                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Dosage Method</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Method</mat-label>
                            <!-- <mat-select formControlName="reported" [(ngModel)]="immunizationReported">
                              <mat-option *ngFor="let reported of immnuization_reported" value="{{reported.name}}">
                                {{reported.name}}</mat-option>
                            </mat-select> -->
                            <input formControlName="dosageMethod" [(ngModel)]="medicationsDosageMethod" matInput
                              placeholder="Enter Dosage Method">

                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Dosage Quantity</th>
                        <td class="width-50 mob-width-30">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field appearance="standard" class="form-100">
                                <mat-label>Quantity</mat-label>
                                <input formControlName="dosageQuantity" [(ngModel)]="medicationsDosageQuantity" matInput
                                  placeholder="Quantity">

                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="standard" class="form-100">
                                <mat-label>Unit</mat-label>
                                <input formControlName="dosageUnit" [(ngModel)]="medicationsDosageUnit" matInput
                                  placeholder="Unit">
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <tr>
                        <td> -->
                          <!-- <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Quantity</mat-label>
                            <input formControlName="dosageQuantity" [(ngModel)]="medicationsDosageQuantity" matInput
                              placeholder="Enter Quantity">

                          </mat-form-field> -->
                          <!-- </td>
                        <td>
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dosageUnit" [(ngModel)]="medicationsDosageUnit" matInput
                              placeholder="Enter Unit">
                          </mat-form-field> -->
                        </td>
                        <!-- </tr>

                      </td> -->

                      </tr>
                      <tr>
                        <th class="width-50 mob-width-70">Note</th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Note</mat-label>
                            <input formControlName="dosageNote" [(ngModel)]="medicationsDosageNote" matInput
                              placeholder="Enter Dosage Note">

                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </mat-expansion-panel>
        </form>
      </mat-accordion>
    </div>

    <!-- Add Manual Record Accordion  Ends Here-->

  </mat-card>
</div>