
<div class="row">
  <div class="col-md-10 mob-80">
    <h1 class="font-700" mat-dialog-title>Edit Provider</h1>
  </div>
  <div class="col-md-2 mob-20 ">
    <div class="text-right">
      <button (click)="close()" class="dialog-close" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>
</div>

<div mat-dialog-content>
  <form [formGroup]="editProviderForm">
    <div class="row margin-top-15">
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="fill" class="form-100">
          <mat-label>NPI No.</mat-label>
          <input readonly formControlName="npino" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
      <div class="col-md-8 col-sm-12" *ngIf="fullname!=null">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Organization Name</mat-label>
          <input formControlName="full_name" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12" *ngIf="fullname==null">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>First Name</mat-label>
          <input formControlName="f_name" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12" *ngIf="fullname==null">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Last Name</mat-label>
          <input formControlName="l_name" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>State</mat-label>
          <input formControlName="state_name" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Postal Code</mat-label>
          <input formControlName="postal_code" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Country Name</mat-label>
          <input formControlName="country_name" matInput placeholder="Please enter npi no">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Address 1</mat-label>
          <textarea rows="2" formControlName="addressone" matInput placeholder="Please enter npi no"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Address 2</mat-label>
          <textarea rows="2" formControlName="addresstwo" matInput placeholder="Please enter npi no"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="form-100">
          <mat-label>Taxonomy Description</mat-label>
          <textarea rows="1" formControlName="taxonomy" matInput placeholder="Please enter npi no"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row text-center margin-top-15">
      <div class="col-md-12 col-sm-12">
        <button mat-flat-button class="proceed-button" (click)="updateProvider()" style="width:250px">Update</button>
      </div>
    </div>
  </form>
</div>
