<!-- <div class="wrapper">
        <nav id="sidebar" class="active">
        <app-admin-left-sidebar></app-admin-left-sidebar>
        </nav>
        <div id="body" class="active">
            <app-admin-header></app-admin-header>
<router-outlet></router-outlet>
</div>
</div> -->
<div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches">
    <!-- <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Curamei</h1>

    </mat-toolbar> -->
    <nav class="top-header">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button><span style="font-size: 20px">Curamei</span></a>
        <div class="flex-spacer"></div>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <img src="https://via.placeholder.com/25" style="width: 25px; height: 25px;border-radius: 100%;">
        </button>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </nav>

    <mat-sidenav-container class="app-sidenav-container"  [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav  opened #snav [mode]="mobileQuery.matches ? 'side' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">


                    <div routerLink="/admin/dashboard" class="remove-margin-bottom"
                        style="margin-top: 15px; display: inline-block; padding: 15px 0px 0px 10px; cursor: pointer;">
                        <mat-icon style="padding-right:5px; font-size: 30px; ">home</mat-icon>
                        <span class="sidenav-menutext"[@animateText]="linkText ? 'show' : 'hide'">Home </span>

                    </div>
                    <div>

                        <mat-accordion>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">file_copy</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Records
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                
                            </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon>stay_primary_portrait</mat-icon>
                                        <span style="margin-left: 5%;"
                                            [@animateText]="linkText ? 'show' : 'hide'">Digital Health
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                            </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">person</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Provider
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                            </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">settings</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Settings
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                            </mat-expansion-panel>
                        </mat-accordion>


                    </div>



                </div>

                <span class="spacer"></span>
                <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 15px;">
                    <button style="background: #227f77;
    color: #fff;position: fixed;
    bottom: 15px;
" mat-icon-button (click)="onSinenavToggle()">
                        <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
                        <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
                    </button>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>