/* rounder borders, shadow, table color & card baground color */
.container-fluid{
    border-radius: 1em!important ;
    
  }
  .card{
    /* background-color: #d7fcf5!important ; */
    box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
  }
  th{
    font-size: medium;
    background-color:#d7fcf5;
    color:#00c7b0;
  }
  .bgc{
    background-color: #d7fcf5!important
  }