
<div class="row" >
    <div class="col-12 col-md-12 col-xs-12 col-lg-12" style="background-color:#607D8B;height:65px;">
        <span class="logoText">Curamei</span>
      </div>
  </div>
  <div class="row" >
    <div class="col-12 col-md-8 col-xs-12 col-lg-8" style="position:relative;margin: 0px auto;top:75px">
      <div class="card cardCustom">
        <div class="card-body text-center">
                <div style="text-align: center;margin-top: -15px;
                margin-bottom: 27px;font-family: Lato,sans-serif!important;
                letter-spacing: 1px;">
                
                <img src="../../../assets/img/correct.png" height="55px" width="55px"/> 
                <br/>
                <div class="success">Congratulation!  Your Curamei account is ready.</div>
            
                <div>
                        <br/>
                <div class="activateLinkMsg">We have sent an account activation link to your email. Please click on 'Activate Account' link to activate your account.
                        <p>
                    <br/>
                    <a  routerLink="/signin" class="linkTag" style="font-size: 16px;
                    font-weight: 500;">Click for Sign In </a>
                </p>
                </div>
                     
                        
              
               </div>
               </div>
       </div>
    </div>
    </div>
   </div> 