<div>
    <div class="sign-in-container">
        <div class="sign-in-card">
            <div class="flex-container width-100">
                <div class="signup-card-left-wrapper width-50">
                    <div class="signup-card-left-container">
                        <div class="signup-left-container-text">
                            <span class="remove-margin-bottom font-500"><a
                                    style="cursor: pointer; text-decoration: none; color: #227f77;"
                                    routerLink="/signin">Curamei</a></span><br>
                            <span class="font-12 dull-font">Stay connected and improve your health,<br> together with
                                us.</span>
                        </div>
                        <img class="signup-left-container-image" src="../../../assets/images/signup/Asset 4.svg">
                    </div>
                </div>
                <div class="signup-card-right-wrapper width-50">
                    <div class="signup-card-right-container">
                        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
                            <div *ngIf="showSignUpType">
                                <div class="text-center">
                                    <h1 class="sign-up-title"><span style="font-weight: 400;">Join</span> Curamei</h1>
                                </div>

                                <div>

                                    <div class="text-center">
                                        <h3 class="sign-up-company-name remove-margin-bottom">Select the type of user
                                            account
                                        </h3>
                                    </div>

                                    <div style="align-items: center;" class="flex-container margin-top-30">
                                        <div class="user-selector-box text-center margin-right-15">
                                            <img class="patient-image" src="../../../assets/images/signup/hospital.svg">
                                        </div>
                                        <div class="user-selector-box margin-right-15 text-center">
                                            <img class="patient-image"
                                                src="../../../assets/images/signup/temperature.svg">
                                        </div>
                                        <div class="user-selector-box text-center">
                                            <img class="doctor-image" src="../../../assets/images/signup/nurse.svg">
                                        </div>
                                        <div class="flex-container width-100 ">
                                            <div class="user-selector-box-text text-center">
                                                <span class="font-500">Provider</span>
                                            </div>
                                            <div class="user-selector-box-text text-center">
                                                <span class="font-500">Patient</span>
                                            </div>
                                            <div class="user-selector-box-text text-center">
                                                <span class="font-500">Support</span>
                                            </div>
                                        </div>
                                        <div>
                                            <mat-radio-group formControlName="sType" [(ngModel)]="selectedType">
                                                <mat-radio-button class="radio-button-provider" id="provider"
                                                    name="stype" value="1">
                                                </mat-radio-button>
                                                <mat-radio-button class="radio-button-patient" id="patient" name="stype"
                                                    value="2"></mat-radio-button>
                                                <mat-radio-button class="radio-button-support" id="support" name="stype"
                                                    value="3">
                                                </mat-radio-button>
                                            </mat-radio-group>

                                        </div>

                                    </div>
                                    <div class="margin-top-60">
                                        <button [disabled]="!selectedType" (click)="selectSignUpForm()"
                                            class="proceed-button width-100" type="button" mat-flat-button>
                                            Proceed
                                        </button>
                                    </div>
                                    <div class="margin-top-30 text-center">
                                        <span>Already have an account ? </span><span routerLink="/signin"
                                            class="cursor-pointer highlight-login-text"style="color: #227f77;">Sign In</span>
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="displayProviderForm">

                                <div *ngIf="npiInputCheck">
                                    <div class="flex-container">
                                        <h3 class="sign-up-company-name">Enter the national provider
                                            number below
                                        </h3>

                                    </div>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>NPI Number</mat-label>
                                        <input matInput placeholder="Enter your NPI no." formControlName="npi"
                                            type="tel" id="npi" #npi (focusin)="checkError()" required>
                                        <mat-icon matSuffix>dialpad</mat-icon>
                                        <mat-hint align="end">{{npi.value?.length || 0}}/10</mat-hint>
                                        <mat-error
                                            *ngIf="!signUpForm.controls.npi.valid && signUpForm.controls['npi'].touched">
                                            <span *ngIf="signUpForm.controls.npi.errors?.required">
                                                Please enter valid NPI number
                                            </span>
                                        </mat-error>

                                    </mat-form-field>
                                    <mat-error class="npi-error" *ngIf=" eNpi || showApiError">
                                        <span>{{apiDataError}}</span>
                                    </mat-error>
                                    <div style="margin-top: 10px;">
                                        <button [disabled]="npi.value.length > 10 || npi.value.length < 10"
                                            (click)="checkNpi(npi.value)" class="proceed-button width-100" type="button"
                                            mat-flat-button>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="npiBox">
                                    <div>
                                        <div>
                                            <div>
                                                <h2 class="mat-h2 mat-subheading remove-margin-bottom font-500">
                                                    Is this
                                                    you ?</h2>
                                            </div>
                                            <hr>
                                            <div class="flex-container" *ngFor="let item of npirecords">
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{item.basic.first_name | titlecase}}</span><br>
                                                    <mat-hint class="font-12">First Name</mat-hint>
                                                </div>
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{item.basic.last_name | titlecase}}</span><br>
                                                    <mat-hint class="font-12">Last Name</mat-hint>
                                                </div>
                                            </div>
                                            <div class="margin-top-15">
                                                <h3 style="font-weight: 900;text-decoration: underline;"
                                                    class="sign-up-npi-card-subtitle remove-margin-bottom">Primary
                                                    Taxonomy
                                                </h3>
                                            </div>
                                            <div class="flex-container margin-top-15">
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{filterTaxoRecord.state | titlecase}}</span><br>
                                                    <mat-hint class="font-12">State</mat-hint>
                                                </div>
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{filterTaxoRecord.license | titlecase}}</span><br>
                                                    <mat-hint class="font-12">License No.</mat-hint>
                                                </div>
                                            </div>
                                            <div>

                                                <div class="width-100">

                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{ filterTaxoRecord.desc | titlecase}}</span><br>
                                                    <mat-hint class="font-12">Taxonomy Description</mat-hint>
                                                </div>

                                            </div>
                                            <div class="margin-top-30 text-center">
                                                <button (click)="gobacktoNpiBox()" class="proceed-button width-45"
                                                    type="button" mat-flat-button>
                                                    Back
                                                </button>
                                                <button (click)="displayForm()"
                                                    class="proceed-button width-45 btn-spacer" type="button"
                                                    mat-flat-button>
                                                    Confirm
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="showForm">

                                    <div *ngIf="formStepOne">
                                        <div class="flex-container">
                                            <h2 style="width: 88%;"
                                                class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Provider Information - </span>Step 1
                                            </h2>

                                            <div>
                                                <button (click)="goBackStepNpiForm()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple" style="color: #227f77 ;">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>

                                        </div>
                                        <mat-form-field appearance="outline" class="form-100 margin-top-15">
                                            <mat-label>NPI Number</mat-label>
                                            <input matInput formControlName="npi" [(ngModel)]="npinumber" type="text"
                                                readonly>
                                        </mat-form-field>
                                        <div class="row">
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>First name</mat-label>
                                                    <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                        type="text" placeholder="First Name" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Last name</mat-label>
                                                    <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                        type="text" placeholder="Last Name" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Email Address</mat-label>
                                            <input matInput formControlName="emailid"
                                                (focusout)="checkEmail($event.target.value)" type="email"
                                                placeholder="Email Id" required>
                                            <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                                <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                    Email Id is required.
                                                </span>

                                                <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                    Email Id must be entered valid.
                                                </span>

                                            </mat-error>

                                        </mat-form-field>
                                        <mat-error class="email-error">
                                            <span *ngIf="eEmail">Email Already Exists</span>
                                        </mat-error>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 col-sm-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Password</mat-label>
                                                    <input [type]="hide ? 'password' : 'text'" matInput
                                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                        formControlName="pass" placeholder="Password" minlength="8"
                                                        required>
                                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        type="button" [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                        <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                            Password with atleast 8 characters is required
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                            Must contain at least one number, upper & lowercase
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6 col-xs-12 col-sm-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Confirm Password</mat-label>
                                                    <input [type]="hideTwo ? 'password' : 'text'" matInput
                                                        type="password" formControlName="cpass"
                                                        placeholder="Confirm Password" required>
                                                    <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                        type="button" [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hideTwo">
                                                        <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                        </mat-icon>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                        <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                            Password and confirm password must match.
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>


                                            </div>
                                        </div>



                                        <div class="margin-top-15">
                                            <button
                                                [disabled]="!signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid  || !signUpForm.controls.cpass.valid || eEmail"
                                                class="proceed-button width-100 margin-top-15" type="button"
                                                mat-flat-button (click)="gotoFormStepTwo()">Next</button>
                                        </div>
                                    </div>
                                    <div *ngIf="formStepTwo">
                                        <div class="flex-container">
                                            <h2 style="width: 88%;"
                                                class="mat-h2 step-form-title mat-subheading remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Communication Details - </span>Step 2
                                            </h2>
                                            <div>
                                                <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>
                                        </div>

                                        <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                            <mat-label>Address 1</mat-label>
                                            <textarea rows="3" matInput formControlName="addressone"
                                                placeholder="Address 1"></textarea>

                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Address 2</mat-label>
                                            <textarea rows="3" matInput formControlName="addresstwo"
                                                placeholder="Address 2"></textarea>

                                        </mat-form-field>
                                        <div class="row">
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>State</mat-label>
                                                    <mat-select formControlName="stateid">
                                                        <mat-option selected value="">Select State</mat-option>
                                                        <mat-option *ngFor="let state of usaStateList"
                                                            title="{{state.name}}" value={{state.abbreviation}}>
                                                            {{state.abbreviation}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Zip Code</mat-label>
                                                    <input matInput #postalCode maxlength="10" formControlName="zipcode"
                                                        placeholder="Zip code">
                                                    <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.zipcode.valid && signUpForm.controls['zipcode'].touched">


                                                        <span *ngIf="signUpForm.controls.zipcode.errors?.minlength">
                                                            Must contain at least 9 digit
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="margin-top-15">
                                            <button class="proceed-button width-100 margin-top-15" type="button"
                                                mat-flat-button (click)="gotoFormStepThree()">Next</button>
                                        </div>








                                    </div>

                                    <div *ngIf="formStepThree">
                                        <div class="flex-container">
                                            <h2 style="width: 88%"
                                                class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Contact Information -</span> Step 3</h2>
                                            <div>
                                                <button (click)="goBacktopStepTwo()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="margin-top-30">
                                            <span class="font-12">Phone No.
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                        formControlName="phoneone" required placeholder="_ _ _">
                                                    <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phoneone.errors?.required || signUpForm.controls.phoneone.errors?.maxlength || signUpForm.controls.phoneone.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                        formControlName="phonetwo" required placeholder="_ _ _">
                                                    <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phonetwo.errors?.required  || signUpForm.controls.phonetwo.errors?.maxlength || signUpForm.controls.phonetwo.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                            It should have only no.
                                                        </span>

                                                    </mat-error>

                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input #phonethree maxlength="4" matInput name="phonethree"
                                                        type="text" formControlName="phonethree" placeholder="_ _ _ _"
                                                        required>
                                                    <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phonethree.errors?.required  || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength">
                                                            4 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="margin-top-15">
                                            <span class="font-12">Fax No.
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxone maxlength="3" type="text"
                                                        placeholder="_ _ _" formControlName="faxone">
                                                    <mat-hint align="end">{{faxone.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxone.valid && signUpForm.controls['faxone'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxone.errors?.required || signUpForm.controls.faxone.errors?.maxlength || signUpForm.controls.faxone.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxone.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxtwo maxlength="3" type="text"
                                                        placeholder="_ _ _" formControlName="faxtwo">
                                                    <mat-hint align="end">{{faxtwo.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxtwo.valid && signUpForm.controls['faxtwo'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxtwo.errors?.required ||  signUpForm.controls.faxtwo.errors?.maxlength || signUpForm.controls.faxtwo.errors?.minlength">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxtwo.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxthree maxlength="4" type="text"
                                                        placeholder="_ _ _ _" formControlName="faxthree">
                                                    <mat-hint align="end">{{faxthree.value.length}} / 4</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxthree.valid && signUpForm.controls['faxthree'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxthree.errors?.required  || signUpForm.controls.faxthree.errors?.maxlength || signUpForm.controls.faxthree.errors?.minlength ">
                                                            4 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxthree.errors?.number">
                                                            It should have only no.
                                                        </span>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="margin-top-30">
                                            <mat-checkbox [value]="checked" id="exampleCheck1"
                                                formControlName="termsofservices" (click)="changeValue(checked)">Agree
                                                to <a target="_blank" [routerLink]="['/terms']">Terms of Services</a>
                                            </mat-checkbox>

                                        </div>

                                        <div class="margin-top-30">
                                            <button
                                                [disabled]="!signUpForm.controls.phoneone.valid || !signUpForm.controls.phonetwo.valid ||!signUpForm.controls.phonethree.valid ||!signUpForm.controls.faxone.valid ||!signUpForm.controls.faxtwo.valid ||!signUpForm.controls.faxthree.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.get('termsofservices').value "
                                                mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                                Registration</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="displayPatientForm">
                                <div *ngIf="formStepOne">
                                    <div class="flex-container">
                                        <h2 class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Patient Information - </span>Step 1
                                        </h2>

                                    </div>
                                    <div class="row margin-top-30">
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>First name</mat-label>
                                                <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                    type="text" placeholder="First Name">
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.fname.valid && signUpForm.controls['fname'].touched">
                                                    <span *ngIf="signUpForm.controls.fname.errors?.required">
                                                        First Name is required.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Last name</mat-label>
                                                <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                    type="text" placeholder="Last Name">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>Email Address</mat-label>
                                        <input matInput formControlName="emailid"
                                            (focusout)="checkEmail($event.target.value)" type="email"
                                            placeholder="Email Id" required>
                                        <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                            <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                Email Id is required.
                                            </span>

                                            <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                Email Id must be entered valid.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="email-patient-error">
                                        <span *ngIf="eEmail">Email Already Exists</span>
                                    </mat-error>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Password</mat-label>
                                                <input [type]="hide ? 'password' : 'text'" matInput
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                    formControlName="pass" placeholder="Password" required>
                                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                    <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                        Password with atleast 8 characters is required
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                        Must contain at least one number,upper and lowercase.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Confirm Password</mat-label>
                                                <input [type]="hideTwo ? 'password' : 'text'" matInput type="password"
                                                    formControlName="cpass" placeholder="Confirm Password" required>
                                                <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                    type="button" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hideTwo">
                                                    <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                    <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                        Password and confirm password must match.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>


                                        </div>
                                    </div>
                                    <div class="margin-top-15">
                                        <button
                                            [disabled]="!signUpForm.controls.fname.valid || !signUpForm.controls.lname.valid || !signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid || !signUpForm.controls.cpass.valid || eEmail"
                                            class="proceed-button width-100 margin-top-15" type="button" mat-flat-button
                                            (click)="gotoFormStepTwo()">Next</button>
                                    </div>
                                </div>

                                <div *ngIf="formStepTwo">
                                    <div class="flex-container">
                                        <h2 style="width: 88%;"
                                            class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Contact Information -</span> Step 2</h2>
                                        <div>
                                            <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                type="button">
                                                <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="font-12">Phone No.
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                    formControlName="phoneone" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phoneone.errors?.required ">
                                                        3 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                        It should have only no.
                                                    </span>

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                    formControlName="phonetwo" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.required || signUpForm.controls.phonetwo.errors?.maxlength || signUpForm.controls.phonetwo.errors?.minlength   ">
                                                        3 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                        It should have only no.
                                                    </span>


                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phonethree maxlength="4" matInput name="phonethree" type="text"
                                                    formControlName="phonethree" placeholder="_ _ _ _" required>
                                                <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonethree.errors?.required || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength ">
                                                        4 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                        It should have only no.
                                                    </span>


                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">
                                            Agree to <a target="_blank" [routerLink]="['/terms']">Terms of Services</a>
                                        </mat-checkbox>
                                    </div>

                                    <div class="margin-top-30">
                                        <button
                                            [disabled]="!signUpForm.controls.phoneone.valid || !signUpForm.controls.phonetwo.valid ||!signUpForm.controls.phonethree.valid ||!signUpForm.controls.faxone.valid ||!signUpForm.controls.faxtwo.valid ||!signUpForm.controls.faxthree.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.get('termsofservices').value"
                                            mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                            Registration</button>
                                    </div>
                                </div>





                            </div>
                            <div *ngIf="displaySupportForm">
                                <div *ngIf="formStepOne">
                                    <div class="flex-container">
                                        <h2 class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Support Information - </span>Step 1
                                        </h2>
                                    </div>
                                    <div class="row margin-top-30">
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>First name</mat-label>
                                                <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                    type="text" placeholder="First Name">
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.fname.valid && signUpForm.controls['fname'].touched">
                                                    <span *ngIf="signUpForm.controls.fname.errors?.required">
                                                        First Name is required.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Last name</mat-label>
                                                <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                    type="text" placeholder="Last Name">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>Email Address</mat-label>
                                        <input matInput formControlName="emailid"
                                            (focusout)="checkEmail($event.target.value)" type="email"
                                            placeholder="Email Id" required>
                                        <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                            <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                Email Id is required.
                                            </span>

                                            <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                Email Id must be entered valid.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="email-patient-error">
                                        <span *ngIf="eEmail">Email Already Exists</span>
                                    </mat-error>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Password</mat-label>
                                                <input [type]="hide ? 'password' : 'text'" matInput
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                    formControlName="pass" placeholder="Password" required>
                                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                    <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                        Password with atleast 8 characters is required
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                        Must contain at least one number, upper and lowercase.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Confirm Password</mat-label>
                                                <input [type]="hideTwo ? 'password' : 'text'" matInput type="password"
                                                    formControlName="cpass" placeholder="Confirm Password" required>
                                                <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                    type="button" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hideTwo">
                                                    <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                    <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                        Password and confirm password must match.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>


                                        </div>
                                    </div>
                                    <div class="margin-top-15">
                                        <button
                                            [disabled]="!signUpForm.controls.fname.valid || !signUpForm.controls.lname.valid || !signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid || !signUpForm.controls.cpass.valid"
                                            class="proceed-button width-100 margin-top-15" type="button" mat-flat-button
                                            (click)="gotoFormStepTwo()">Next</button>
                                    </div>
                                </div>
                                <div *ngIf="formStepTwo">
                                    <div class="flex-container">
                                        <h2 style="width: 88%;"
                                            class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Contact Information -</span> Step 2</h2>
                                        <div>
                                            <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                type="button">
                                                <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                        <mat-label>Provider Email</mat-label>
                                        <input (focusout)="checkProviderEmail($event.target.value)" matInput
                                            formControlName="pemail" type="email" placeholder="Provider Email Id"
                                            required>
                                        <mat-error *ngIf="!signUpForm.controls.pemail.valid ">
                                            <span *ngIf="signUpForm.controls.pemail.errors?.required">
                                                Email Id is required.
                                            </span>

                                            <span *ngIf="signUpForm.controls.pemail.errors?.email">
                                                Email Id must be entered valid.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="provider-email-error" style="font-size:11px">
                                        <span *ngIf="eProviderEmail">Invalid Provider</span>
                                    </mat-error>
                                    <div>
                                        <span class="font-12">Phone No.
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                    formControlName="phoneone" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phoneone.errors?.required || signUpForm.controls.phoneone.errors?.maxlength || signUpForm.controls.phoneone.errors?.minlength  ">
                                                        3 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                        It should only have no.
                                                    </span>

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                    formControlName="phonetwo" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.required || signUpForm.controls.phonetwo.errors?.maxlength ||signUpForm.controls.phonetwo.errors?.minlength  ">
                                                        3 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                        It should only have no.
                                                    </span>

                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phonethree maxlength="4" matInput name="phonethree" type="text"
                                                    formControlName="phonethree" placeholder="_ _ _ _" required>
                                                <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phonethree.errors?.required || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength ">
                                                        4 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                        It should only have no.
                                                    </span>


                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>



                                    <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">
                                            Agree to <a target="_blank" [routerLink]="['/terms']">Terms of Services</a>
                                        </mat-checkbox>
                                    </div>

                                    <div class="margin-top-30">
                                        <button
                                            [disabled]="!signUpForm.controls.phoneone.valid || !signUpForm.controls.phonetwo.valid ||!signUpForm.controls.phonethree.valid  || !signUpForm.controls.termsofservices.valid || !signUpForm.controls.pemail.valid || eProviderEmail || !signUpForm.get('termsofservices').value"
                                            mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                            Registration</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>