<div class="main-container">
  <div class="min-height-100">
    <div *ngIf="providerFlag">
      <div class="flex-container fitbit-zposition hide-in-mobile-screen">
        <div class="width-50 mob-width-100">
          <mat-icon class="material-icons">directions_run</mat-icon>
          <mat-card-title class="card-main-title fitbit-dashboard-main-title font-700">Fitbit Dashboard</mat-card-title>
        </div>
        <div class="width-50 mob-width-100 text-right chip-fitbit-position" style="position: relative;z-index: 1111!important;">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip (click)="demoData()" *ngIf="flagDemoFitbitShow" [ngClass]="{'activeTab': demoFlagTab==true}">Demo</mat-chip>
            <mat-chip (click)="liveData()"  [ngClass]="{'activeTab': liveFlagTab==true}">Live</mat-chip>
            <!-- <mat-chip *ngIf="fitbitPopup" (click)="openFitBitSettingDialog()">
              <mat-icon style="cursor: pointer;">settings</mat-icon>
              &nbsp;Settings
            </mat-chip> -->
          </mat-chip-list>
        </div>
      </div>
      <div class="hide-in-large-screen">
  
        <div class="flex-container">
          <div class="mob-width-100">
            <mat-icon class="material-icons">directions_run</mat-icon>
            <mat-card-title class="card-main-title font-700">Fitbit Dashboard</mat-card-title>
          </div>
        </div>
        <div class="row text-center margin-top-15 mob-chip">
          <div class="col-md-12">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngIf="flagDemoFitbitShow" (click)="demoData()" [ngClass]="{'activeTab': demoFlagTab==true}">Demo</mat-chip>
              <mat-chip (click)="liveData()" [ngClass]="{'activeTab': liveFlagTab==true}">Live</mat-chip>
              <!-- <mat-chip *ngIf="fitbitPopup">
                <mat-icon style="cursor: pointer;" (click)="openFitBitSettingDialog()">settings</mat-icon>
                &nbsp;Settings
              </mat-chip> -->
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="byProviderTextFlag">
      <mat-panel-description>
        <p class="noUser_text">No any user selected, please select user to view</p>
        <button (click)="viewFitbitByUser(user_id)" *ngIf="user_id!=null" matTooltip="View Data" matTooltipPosition="left" class="medical-record-accordion-button"
        mat-button>Click here
        <mat-icon>visibility</mat-icon>
        </button>
      </mat-panel-description>
    </div>
    <!-- <div>
      <div class=" fitbit-zposition hide-in-mobile-screen">
        <div class="text-right" style="position: relative;z-index: 1111!important;">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip (click)="liveData()" [ngClass]="{'activeTab': liveFlagTab==true}">Live</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div> -->
    <div>
      <div class="row margin-top-15 laptop-margin-top-25">
        <!-- <div class="col-md-6 remove-col-padding-right">
              <mat-card class=" remove-box-shadow">
                <div class="row">
                  <div class="col-md-7">
                    <h2 class="font-300 remove-bottom-margin">Today's Activity</h2>
                  </div>
                  <div class="col-md-5">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="today-activity">
                      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis">
                      </ngx-charts-bar-vertical>
                    </div>

                  </div>
                </div>
              </mat-card>
            </div> -->
        <div class="col-md-3 mob-fitbit-margin-bottom fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <!-- if true -->
              <div class="col-md-12 " *ngIf="lastTwoWeekTotalStepsFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openActivityDialog()">

                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorScheme" [results]="steps"
                    [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="steps-image" src="../../../assets/images/fitbit-dashboard/steps.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastTwoWeekTotalSteps}} </span><span
                      class="font-size-36 font-300">Steps</span>
                  </div>

                </div>
              </div>

              <!-- if false -->

              <div class="col-md-12 " *ngIf="!lastTwoWeekTotalStepsFlag">
                <div class="fitbit-dashboard-firstrow">

                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>

                </div>
              </div>

            </div>
          </mat-card>
        </div>




        <div class="col-md-3 mob-fitbit-margin-bottom fitbit-dash-col-3 remove-box-shadow remove-col-padding-right">
          <mat-card class="remove-box-shadow  mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayStepFlag">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-step-container">
                      <div class="total-steps-image-container">
                        <img class="totalsteps-image" src="../../../assets/images/fitbit-dashboard/footprints (4).svg">
                      </div>
                    </div>
                    <div class="totalsteps-text text-center">
                      <span class="font-size-50 font-300">{{todayStep}} </span><span
                        class="font-size-36 font-300">Steps</span><br>
                      <span class="totalsteps-subheading">Best in a day</span>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12 " *ngIf="!todayStepFlag">
                <div class="fitbit-dashboard-firstrow">

                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>

                </div>
              </div>




            </div>
          </mat-card>
        </div>






        <div class="col-md-3  mob-fitbit-margin-bottom  fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin fitbit-right-col-margin-15">
            <div class="row">
              <div class="col-md-12" *ngIf="lastTwoWeekTotalCaloriesOutFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openCaloriesDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeCalories"
                    [results]="calories" [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="calorie-image" src="../../../assets/images/fitbit-dashboard/fire.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastTwoWeekTotalCaloriesOut}} </span>
                    <span class="font-size-36 font-300">calories</span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!lastTwoWeekTotalCaloriesOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>
        </div>

        <div
          class="col-md-3 mob-remove-fitbit-col-padding-right fitbit-margin-top fitbit-dash-col-3 fitbit-remove-right-col-padding">
          <mat-card class="remove-box-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayCaloriesOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-calories-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/fire (2).svg">
                      </div>
                    </div>
                    <div class="coloriesburnt-text text-center">
                      <span class="font-size-50 font-300">{{todayCaloriesOut}} </span><span
                        class="font-size-36 font-300">calories</span><br>
                      <span class="totalsteps-subheading">Burnt in a day</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayCaloriesOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>

            </div>
          </mat-card>
        </div>


        <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="lastTwoWeekTotalCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openCaloriesIntakeDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeTakeIn" [results]="weight"
                    [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="weight-image" src="../../../assets/images/fitbit-dashboard/habit.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastTwoWeekTotalCaloriesIn}}<span style="margin-left: 15px;"
                        class="font-size-36 font-300">
                        <mat-icon class="font-size-36">restaurant</mat-icon>
                      </span></span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!lastTwoWeekTotalCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>
        </div>


        <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow fitbit-right-col-margin-15 mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-intake-container">
                      <div class="total-steps-image-container">
                        <img class="totalweight-image" src="../../../assets/images/fitbit-dashboard/habit (2).svg">
                      </div>
                    </div>
                    <div class="calorieintake-text text-center">
                      <span class="font-size-50 font-300">under </span><br>
                      <span class="totalsteps-subheading">{{todayCaloriesIn}}</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">restaurant</mat-icon>
                      <span style="margin-left: 15px;" class="totalsteps-subheading">vs</span>
                      <span class="totalsteps-subheading" style="margin-left: 15px;">{{todayCaloriesOut}}</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">local_fire_department</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>

        </div>

        <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="weeksHoursFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openFitBitSleepDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeSleep"
                    [results]="sleepWeeksTotal" [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="calorie-image" src="../../../assets/images/fitbit-dashboard/sleeping.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{weeksHours}} </span>
                    <span class="font-size-36 font-300">Hrs</span>&nbsp;
                    <span class="font-size-50 font-300">{{weeksMinutes}} </span>
                    <span class="font-size-36 font-300">Mins</span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!weeksHoursFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>
        </div>
        <div
          class="col-md-3 margin-top-15 fitbit-dash-col-3 fitbit-remove-right-col-padding mob-remove-fitbit-col-padding-right">
          <mat-card class="remove-box-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayHoursFlag">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-sleep-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/sleeping (1).svg">
                      </div>
                    </div>
                    <div class="sleep-text text-center">
                      <span class="font-size-50 font-300">{{todayHours}} </span>
                      <span class="font-size-36 font-300">Hrs</span>&nbsp;
                      <span class="font-size-50 font-300">{{todayMinutes}} </span>
                      <span class="font-size-36 font-300">Mins</span><br>
                      <span class="totalsteps-subheading">Sleep in a day</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayHoursFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>



            </div>
          </mat-card>
        </div>
        <div class="col-md-3 margin-top-15 mob-fitbit-margin-bottom fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow fitbit-right-col-margin-15 mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayWeightFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openWeightDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeWeight"
                    [results]="todayWeightGraph" [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="weight-image" src="../../../assets/images/fitbit-dashboard/weight.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{ todayWeight | number : '1.2-2'}} </span><span
                      class="font-size-36 font-300">kg</span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayWeightFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>



            </div>
          </mat-card>
        </div>

<!---    <div class="col-md-3 fitbit-dash-col-3 fitbit-remove-right-col-padding">
                  <mat-card class="remove-box-shadow fitbit-margin-top">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="fitbit-dashboard-firstrow">
                          <div>
                            <div class="total-weight-container">
                              <div class="total-steps-image-container">
                                <img class="totalweight-image" src="../../../assets/images/fitbit-dashboard/weight (3).svg">
                              </div>
                            </div>
                            <div class="weighttogo-text text-center">
                              <span class="font-size-50 font-300">22 </span><span class="font-size-36 font-300">kg</span><br>
                              <span class="totalsteps-subheading">to go</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div> -->
         <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="weekCaloriesInOutFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openFitBitCalorieOutDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeSCalorieOut"
                    [results]="calories" [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="calorie-image" src="../../../assets/images/fitbit-dashboard/weight01.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastWeekTotalDiff}}<span style="margin-left: 15px;"
                        class="font-size-36 font-300">
                        <mat-icon class="font-size-36">directions_run
                        </mat-icon>
                      </span></span>
                  </div> 
                </div>
              </div>
              <div class="col-md-12 " *ngIf="!weekCaloriesInOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <!-- <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow mob-fitbit-right-col-margin fitbit-right-col-margin-15">
            <div class="row">
              <div class="col-md-12">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-calout-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/weight.2svg.svg">
                      </div>
                    </div>
                    <div class="calorieintake-text text-center">
                      <span class="font-size-50 font-300">over </span><br>
                      <span class="totalsteps-subheading">165</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">restaurant</mat-icon>
                      <span style="margin-left: 15px;" class="totalsteps-subheading">vs</span>
                      <span class="totalsteps-subheading" style="margin-left: 15px;">2500</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">directions_run</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>  -->



      </div>

    </div>
  </div>
  </div>