::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  /* make scrollbar transparent */
}
:host ::ng-deep .custom-spinner circle{   
  stroke: #0CC20C;

}

.circle-center{
  position: relative;
  background-position: center center;
  top:30%;
  left:30%;
}

.activeTab{
  background-color: #3F51B5;
  color: azure;
}
.noUser_text{
  margin: 0;
  line-height: 15px;
  padding-top: 10px;
  padding-right: 10px;
}
.medical-record-accordion-button{
  position: relative !important;
  right: 0 !important;
}